############################################################################
### THIS FILE SHOULD BE PLACED ON THE PARENT FOLDER OF THE DOCUMENTATION ###
### OTHERWISE THE CONTENT NEGOTIATION WILL NOT WORK                      ###
### THE URL OF YOUR VOCABULARY WILL BE (domain)/EnslavedOntology/def    ###
############################################################################
# Turn off MultiViews
#Options -MultiViews
#
#AddType application/rdf+xml .rdf
#AddType application/rdf+xml .owl
#AddType text/turtle .ttl
#AddType application/n-triples .n3
#AddType application/ld+json .json
#RewriteEngine On
#RewriteBase /ontology
#
#RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
#RewriteCond %{HTTP_ACCEPT} text/html [OR]
#RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
#RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
#RewriteRule ^def$ doc/index-en.php [R=303,L]
#RewriteCond %{HTTP_ACCEPT} !application/rdf\+xml.*(text/html|application/xhtml\+xml)
#RewriteCond %{HTTP_ACCEPT} text/html [OR]
#RewriteCond %{HTTP_ACCEPT} application/xhtml\+xml [OR]
#RewriteCond %{HTTP_USER_AGENT} ^Mozilla/.*
#RewriteRule ^def/(.+) doc/index-en.php#$1 [R=303,NE,L]
#RewriteCond %{HTTP_ACCEPT} application/ld+json
#RewriteRule ^def$ doc/ontology.json [R=303,L]
#
#RewriteCond %{HTTP_ACCEPT} application/ld+json
#RewriteRule ^def/(.+)$ doc/ontology.json [R=303,NE,L]
#
#RewriteCond %{HTTP_ACCEPT} \*/\* [OR]
#RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
#RewriteRule ^def$ doc/ontology.xml [R=303,L]
#
#RewriteCond %{HTTP_ACCEPT} \*/\* [OR]
#RewriteCond %{HTTP_ACCEPT} application/rdf\+xml
#RewriteRule ^def/(.+)$ doc/ontology.xml [R=303,NE,L]
#
#RewriteCond %{HTTP_ACCEPT} application/n-triples
#RewriteRule ^def$ doc/ontology.nt [R=303,L]
#
#RewriteCond %{HTTP_ACCEPT} application/n-triples
#RewriteRule ^def/(.+)$ doc/ontology.nt [R=303,NE,L]
#
#RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
#RewriteCond %{HTTP_ACCEPT} text/\* [OR]
#RewriteCond %{HTTP_ACCEPT} \*/turtle
#RewriteRule ^def$ doc/ontology.ttl [R=303,L]
#
#RewriteCond %{HTTP_ACCEPT} text/turtle [OR]
#RewriteCond %{HTTP_ACCEPT} text/\* [OR]
#RewriteCond %{HTTP_ACCEPT} \*/turtle
#RewriteRule ^def/(.+)$ doc/ontology.ttl [R=303,NE,L]
#
#RewriteCond %{HTTP_ACCEPT} .+
#RewriteRule ^def$ doc/406.html [R=406,L]
#RewriteRule ^def$ doc/ontology.xml [R=303,L]


<IfModule mod_rewrite.c>

RewriteEngine on

RewriteBase ENVIRONMENTBASEPATH

RewriteRule ^resources/.*$ - [PT]
RewriteRule ^sections/.*$ - [PT]
RewriteRule ^webvowl/.*$ - [PT]

#download exceptions
RewriteRule ^ontology.json - [PT]
RewriteRule ^ontology.xml - [PT]
RewriteRule ^ontology.nt - [PT]
RewriteRule ^ontology.ttl - [PT]

RewriteRule ^.*$ index-en.php [L]

</IfModule>
