# bootstrap
config.php
config.json

# htaccess files
.htaccess

# compiled css
assets/stylesheets/style.css
assets/stylesheets/style.css.map

# Directories
/.idea
/.sass-cache
/assets/Widoco
