# bootstrap
config.php
config.json

# htaccess files
.htaccess

# compiled css
assets/stylesheets/style.css

# Directories
/.idea
/.sass-cache
/assets/Widoco

# Editor files
*.sublime-workspace
*.sublime-project

# composer
composer.phar
/vendor/

# os specific
._.DS_Store
.DS_Store

# project specific
cache/*
