.about-header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/PersonLanding.jpg);
    .middlewrap{
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
        padding-top: 160px;
        padding-bottom: 50px;
        #previous-title{
          opacity: 0.7;
          color: $white;
          font-family: aleobold;
          font-size: 16px;
          font-weight: none;
          line-height: 18px;
          text-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
        }
        #current-title{
          color: $white;
          font-family: aleobold;
          font-size: 16px;
          font-weight: none;
          line-height: 18px;
        }
    }
}
.about-buttons{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0 0;
    width: 90%;
    .buttonwrap{
        margin: 0 auto;
        max-width: 1000px;

        .row{
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                width: 47%; //button sizing
                margin-bottom: 20px; //card placement for this and 2 child stylings
                margin-right: 5%;
                padding: 0;
                cursor: pointer;
                transition: all .3s;
                a{
                    color: inherit;
                    text-decoration: none;
                }

                &:nth-child(2n){
                    margin-right: 0;
                }

                .buttons{
                    position: relative;
                    height: 60px;
                    background-color: $white;
                    box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
                    border: 2px solid transparent;
                    transition: border 0.3s ease,  box-shadow 0.3s ease;
                    border-radius: 5px;
                    h3{
                      font-size: 18px;
                      color: $base-dark;
                      font-family: aleobold;
                      font-weight: 100;
                      padding: 20px;
                      padding-top: 18px;
                      display: inline-block;
                      transition: color 0.3s ease
                    }
                    img.about-button-chevron{
                      position: absolute;
                      right: 0;
                      margin: 21px 17px;
                    }
                    #red-chevron{
                      display: none;
                      position: absolute;
                      top: 0;
                      right: 0;
                      z-index: 99;
                    }

                    &:hover{
                        border: 2px solid $sub-base;
                        box-shadow: 0 5px 20px 0 rgba(44,44,44,0.2);
                        h3{
                          color: $sub-base;
                        }
                        #green-chevron{
                          display: none;
                        }
                        #red-chevron{
                          display: block;
                        }
                    }
                }
            }
        }
    }
}

.about-text{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    p{
        font-family: aleobold;
        font-size: 16px;
        color: $base-dark;
        line-height: 24px;
        margin-bottom: 10px;
    }
    #mid-paragraph{
        margin-bottom: 50px;
    }
    .textwrap{
        padding: 14px;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
        margin-bottom: 50px;
        ul, ol{
            padding-inline-start: 30px;
            li{
                padding-bottom: 15px;
                line-height: 24px;

                &:nth-child(5n){
                    padding-bottom: 0px;
                }
            }
        }
        ol li{
            padding-left: 10px;
        }
    }
}


.getinvolved-view{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0 0;
    width: 90%;
    a {
      color: inherit;
      text-decoration: none;
    .buttons{
        width: 47%;
        position: relative;
        height: 60px;
        background-color: $white;
        box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
        border: 2px solid transparent;
        transition: border 0.3s ease,  box-shadow 0.3s ease;
        border-radius: 5px;
        margin-top: 60px;
        margin-right: 0;
        padding-right: 0;
        transition: all .3s;
        h3{
            font-size: 18px;
            color: $base-dark;
            font-family: aleobold;
            font-weight: 100 !important;
            padding: 20px;
            padding-top: 18px;
            display: inline-block;
            transition: color 0.3s ease
        }
        img.about-button-chevron{
            position: absolute;
            right: 0;
            margin: 21px 17px;
        }
        #red-chevron{
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
        }
        &:hover{
            border: 2px solid $sub-base;
            box-shadow: 0 5px 20px 0 rgba(44,44,44,0.2);
            h3{
              color: $sub-base;
            }
            #green-chevron{
              display: none;
            }
            #red-chevron{
              display: block;
            }
        }
    }
  }
}

.getinvolved-submit{
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0 80px;
    width: 90%;
    h2{
      font-size: 30px;
      font-weight: 100;
      margin-bottom: 15px;
    }
    p{
      line-height: 24px;
      font-size: 16px;
      font-family: aleobold;
      font-weight: 100;
      margin-bottom: 30px;
      #getinvolved-email{
        color: $sub-base;
        text-decoration: underline;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
    .buttons{
        width: 47%;
        position: relative;
        height: 60px;
        background-color: $white;
        box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
        border: 2px solid transparent;
        transition: border 0.3s ease,  box-shadow 0.3s ease;
        border-radius: 5px;
        display: inline-block;
        transition: all .3s;
        h3{
            font-size: 18px;
            color: $base-dark;
            font-family: aleobold;
            font-weight: 100;
            padding: 20px;
            padding-top: 18px;
            display: inline-block;
            transition: color 0.3s ease
        }
        img.about-button-chevron{
            position: absolute;
            right: 0;
            margin: 21px 17px;
        }
        #red-chevron{
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
        }
        &:hover{
            border: 2px solid $sub-base;
            box-shadow: 0 5px 20px 0 rgba(44,44,44,0.2);
            h3{
              color: $sub-base;
            }
            #green-chevron{
              display: none;
            }
            #red-chevron{
              display: block;
            }
        }
    }
  }
  #first-button{
    margin-right: 5%;
  }
}

.contactUs-text{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    p{
        font-family: aleobold;
        font-size: 16px;
        color: $base-dark;
        line-height: 24px;
        margin-bottom: 10px;
        a.contactus-email{
          color: $sub-base;
          text-decoration: underline;
        }
    }
    #first-sentence{
        margin-bottom: 50px;
    }
    .address{
      background-color: $white;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
    }
}

.contactUs-getinvolved{
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0 80px;
    width: 90%;
    h2{
      font-size: 30px;
      font-weight: none;
      margin-bottom: 15px;
    }
    p{
      line-height: 24px;
      font-size: 16px;
      font-family: aleobold;
      font-weight: none;
      margin-bottom: 30px;
      a.contactus-email{
        color: $sub-base;
        text-decoration: underline;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
      .buttons{
          width: 47%;
          position: relative;
          height: 60px;
          background-color: $white;
          box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
          border: 2px solid transparent;
          transition: border 0.3s ease,  box-shadow 0.3s ease;
          border-radius: 5px;
          display: inline-block;
          transition: all .3s;
          h3{
              font-size: 18px;
              color: $base-dark;
              font-family: aleobold;
              font-weight: none;
              padding: 20px;
              padding-top: 18px;
              display: inline-block;
              transition: color 0.3s ease
          }
          img.about-button-chevron{
              position: absolute;
              right: 0;
              margin: 21px 17px;
          }
          #red-chevron{
              display: none;
              position: absolute;
              top: 0;
              right: 0;
              z-index: 99;
          }
          &:hover{
              border: 2px solid $sub-base;
              box-shadow: 0 5px 20px 0 rgba(44,44,44,0.2);
              h3{
                color: $sub-base;
              }
              #green-chevron{
                display: none;
              }
              #red-chevron{
                display: block;
              }
          }
      }
  }
}

.submission-form {
  margin-top: 50px;
  margin-bottom: 20px !important;
}

.partner-text{
    margin: 60px auto;
	max-width: 1000px;
	width: 90%;
	font-family: aleobold;

        h2{
            font-size: 22px;
            color: $base-dark;
            line-height: 40px;
        }

        p{
            font-size: 16px;
            color: $base-dark;
        }

        a{
            cursor: pointer;
            text-decoration: underline;
            color: $sub-base;
        }
        
        .intro {
	        margin-bottom: 50px;
	        line-height: 24px; 
        }
}

.contact-form{
    padding: 0 6%;
    max-width: 1000px;
    margin: 0 auto;
    .formwrap{
        margin: 75px 0;
        form{

            .input-section{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 50px;

                #message{
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;

                    .input-field{
                        height: 200px;
                        padding-top: 20px;
                    }
                }

                .inputwrap{
                    width: 47.5%;
                    margin-bottom: 22px;

                    input, label{
                        display: block;
                    }
                    label{
                        margin-bottom: 10px;
                        color: $base-dark;
                        font-size: 15px;
                    }
                    .input-field{
                        height: 60px;
                        width: 100%;
                        border: 1px solid #CED0D2;
                        outline: none;
                        background-color: #FFFDFB;
                        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.04);
                        padding-left: 30px;
                        padding-right: 30px;
                        font-size: 14px;
                        font-family: aleoregular;
                        color: $base-dark;
                        transition: border 0.2s;

                        &:hover{
                            border: 1px solid $sub-base;
                        }
                        &:focus-within{
                            border: 1px solid $sub-base;
                        }
                    }
                    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #72818C;
                        opacity: 1; /* Firefox */
                    }

                    :-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #72818C;
                    }

                    ::-ms-input-placeholder { /* Microsoft Edge */
                        color: #72818C;
                    }
                }
            }
            .buttonwrap{
                width: 100%;
                text-align: right;
                button{
                    cursor: pointer;
                    height: 60px;
                    width: 380px;
                    border: none;
                    color: $base-light;
                    font-size: 20px;
                    outline: none;
                    font-family: aleoregular;
                    border-radius: 100px;
                    background: $base-dark;
                    transition: border 0.2s;
                    transition: .2s;

                    &:hover{
                        border: 2px solid $sub-base;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px){
    .about-buttons{
        .buttonwrap{
            .row{
                li{
                    width: 100%;

                    &:nth-child(n){
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .getinvolved-view{
        a {
            .buttons{
                width: 100%;
            }
        }
    }
    .getinvolved-submit{
        a {
            .buttons{
                width: 100%
            }
        }
        #first-button{
          margin-right: 0;
          margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 600px){
    .contact-form{
        .formwrap{
            form{
                .input-section{
                    .inputwrap{
                        width: 100%;
                    }
                }
                .buttonwrap{
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }
}
