.about-header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/PersonLanding.jpg);
    .middlewrap{
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
        padding-top: 160px;
        padding-bottom: 50px;
        .previous-title{
          opacity: 0.7;
          color: $white;
          font-family: aleobold;
          font-size: 16px;
          font-weight: none;
          line-height: 18px;
          text-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
        }
        #current-title{
          color: $white;
          font-family: aleobold;
          font-size: 16px;
          font-weight: none;
          line-height: 18px;
        }
    }
}
.about-buttons{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0 0;
    width: 90%;
    .buttonwrap{
        margin: 0 auto;
        max-width: 1000px;

        .row{
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                width: 47%; //button sizing
                margin-bottom: 20px; //card placement for this and 2 child stylings
                margin-right: 5%;
                padding: 0;
                cursor: pointer;
                transition: all .3s;
                a{
                    color: inherit;
                    text-decoration: none;
                }

                &:nth-child(2n){
                    margin-right: 0;
                }

                .buttons{
                    position: relative;
                    height: 60px;
                    background-color: $white;
                    box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
                    border: 2px solid transparent;
                    transition: border 0.3s ease,  box-shadow 0.3s ease;
                    border-radius: 5px;
                    h3{
                      font-size: 18px;
                      color: $base-dark;
                      font-family: aleobold;
                      font-weight: 100;
                      padding: 20px;
                      padding-top: 18px;
                      display: inline-block;
                      transition: color 0.3s ease
                    }
                    img.about-button-chevron{
                      position: absolute;
                      right: 0;
                      margin: 21px 17px;
                    }
                    #red-chevron{
                      display: none;
                      position: absolute;
                      top: 0;
                      right: 0;
                      z-index: 99;
                    }

                    &:hover{
                        border: 2px solid $sub-base;
                        box-shadow: 0 5px 20px 0 rgba(44,44,44,0.2);
                        h3{
                          color: $sub-base;
                        }
                        #green-chevron{
                          display: none;
                        }
                        #red-chevron{
                          display: block;
                        }
                    }
                }
            }
        }
    }
}

.about-text{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    p{
        font-family: aleobold;
        font-size: 16px;
        color: $base-dark;
        line-height: 24px;
        margin-bottom: 10px;
    }
    #mid-paragraph{
        margin-bottom: 50px;
    }
    .textwrap{
        padding: 14px;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
        margin-bottom: 50px;
        ul, ol{
            padding-inline-start: 30px;
            li{
                padding-bottom: 15px;
                line-height: 24px;

                &:nth-child(5n){
                    padding-bottom: 0px;
                }
            }
        }
        ol li{
            padding-left: 10px;
        }
    }
}


.getinvolved-view{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0 0;
    width: 90%;
    a {
      color: inherit;
      text-decoration: none;
    .buttons{
        width: 47%;
        position: relative;
        height: 60px;
        background-color: $white;
        box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
        border: 2px solid transparent;
        transition: border 0.3s ease,  box-shadow 0.3s ease;
        border-radius: 5px;
        margin-top: 60px;
        margin-right: 0;
        padding-right: 0;
        transition: all .3s;
        h3{
            font-size: 18px;
            color: $base-dark;
            font-family: aleobold;
            font-weight: 100 !important;
            padding: 20px;
            padding-top: 18px;
            display: inline-block;
            transition: color 0.3s ease
        }
        img.about-button-chevron{
            position: absolute;
            right: 0;
            margin: 21px 17px;
        }
        #red-chevron{
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
        }
        &:hover{
            border: 2px solid $sub-base;
            box-shadow: 0 5px 20px 0 rgba(44,44,44,0.2);
            h3{
              color: $sub-base;
            }
            #green-chevron{
              display: none;
            }
            #red-chevron{
              display: block;
            }
        }
    }
  }
}

.getinvolved-submit{
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0 80px;
    width: 90%;
    h2{
      font-size: 30px;
      font-weight: 100;
      margin-bottom: 15px;
    }
    p{
      line-height: 24px;
      font-size: 16px;
      font-family: aleobold;
      font-weight: 100;
      margin-bottom: 30px;
      #getinvolved-email{
        color: $sub-base;
        text-decoration: underline;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
    .buttons{
        width: 47%;
        position: relative;
        height: 60px;
        background-color: $white;
        box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
        border: 2px solid transparent;
        transition: border 0.3s ease,  box-shadow 0.3s ease;
        border-radius: 5px;
        display: inline-block;
        transition: all .3s;
        h3{
            font-size: 18px;
            color: $base-dark;
            font-family: aleobold;
            font-weight: 100;
            padding: 20px;
            padding-top: 18px;
            display: inline-block;
            transition: color 0.3s ease
        }
        img.about-button-chevron{
            position: absolute;
            right: 0;
            margin: 21px 17px;
        }
        #red-chevron{
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 99;
        }
        &:hover{
            border: 2px solid $sub-base;
            box-shadow: 0 5px 20px 0 rgba(44,44,44,0.2);
            h3{
              color: $sub-base;
            }
            #green-chevron{
              display: none;
            }
            #red-chevron{
              display: block;
            }
        }
    }
  }
  #first-button{
    margin-right: 5%;
  }
}

.contactUs-text{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    p{
        font-family: aleobold;
        font-size: 16px;
        color: $base-dark;
        line-height: 24px;
        margin-bottom: 10px;
        a.contactus-email{
          color: $sub-base;
          text-decoration: underline;
        }
    }
    #first-sentence{
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .address{
      background-color: $white;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
    }
}

.contactUs-getinvolved{
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0 80px;
    width: 90%;
    h2{
      font-size: 30px;
      font-weight: none;
      margin-bottom: 15px;
    }
    p{
      line-height: 24px;
      font-size: 16px;
      font-family: aleobold;
      font-weight: none;
      margin-bottom: 30px;
      a.contactus-email{
        color: $sub-base;
        text-decoration: underline;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
      .buttons{
          width: 47%;
          position: relative;
          height: 60px;
          background-color: $white;
          box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
          border: 2px solid transparent;
          transition: border 0.3s ease,  box-shadow 0.3s ease;
          border-radius: 5px;
          display: inline-block;
          transition: all .3s;
          h3{
              font-size: 18px;
              color: $base-dark;
              font-family: aleobold;
              font-weight: 100;
              padding: 20px;
              padding-top: 18px;
              display: inline-block;
              transition: color 0.3s ease
          }
          img.about-button-chevron{
              position: absolute;
              right: 0;
              margin: 21px 17px;
          }
          #red-chevron{
              display: none;
              position: absolute;
              top: 0;
              right: 0;
              z-index: 99;
          }
          &:hover{
              border: 2px solid $sub-base;
              box-shadow: 0 5px 20px 0 rgba(44,44,44,0.2);
              h3{
                color: $sub-base;
              }
              #green-chevron{
                display: none;
              }
              #red-chevron{
                display: block;
              }
          }
      }
  }
}

.directory-textwrap{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    p{
        font-family: aleobold;
        font-size: 16px;
        color: $base-dark;
        line-height: 24px;
        margin-top: 60px;
        margin-bottom: 16px;
    }
}

.projectcard{
    #all-header{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .display-projects {
            position: relative;
            .column-header{
                margin-right: 60px;
                font-size: 40px;
                cursor: pointer;
                img {
                    width: 20px;
                    transition: 400ms;
                    margin-bottom: 5px;
                    margin-left: 10px;
                }
                img.show {
                    transform: rotate(-180deg);
                }
            }
            ul.display-menu {
                background: $base-dark;
                box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                color: $white;
                border-radius: 5px;
                width: 210px;
                text-align: center;
                display: none;
                list-style: none;
                margin: 10px auto 0;
                padding: 10px 15px;
                position: absolute;
                left: 60px;
                top: 40px;
                z-index: 1;
                li {
                    cursor: pointer;
                    font-size: 18px;
                    line-height: 15px;
                    padding: 10px 5px;
                }
                li:hover {
                    color: $sub-base;
                }

                ul#submenu {
                    margin-bottom: 20px;
                }
            }
            #submenu.show{
                display: block;
            }
        }
        .sort-search{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .search{
                position: relative;
                form{
                    position: relative;

                    .search-field{
                        border: 2px solid transparent;
                        border-radius: 5px;
                        box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
                        background-color: $white;
                        color: $base-dark;
                        font-size: 14px;
                        margin: 0;
                        outline: none;
                        padding-left: 20px;
                        padding-right: 45px;
                        transition: border 0.3s ease;
                        height: 45px;
                        width: 300px;

                        &:hover{
                            border: 2px solid rgba(194,79,60,0.6);
                        }
                        &:focus-within{
                            border: 2px solid rgba(194,79,60,0.6);
                        }
                        &::placeholder {
                            //color: rgba($base-dark, .75);
                            font-family: aleobold;
                            color: $base-dark;
                            font-size: 14px;
                            font-style: italic;
                        }
                    }

                    .search-icon-2{
                        background: none;
                        height: 45px;
                        width: 45px;
                    }
                }
            }

            .sort-projects{
                position: relative;
                margin-right: 40px;

                .sort-projects-text{
                    font-size: 14px;
                    color: $base-dark;
                    opacity: 0.8;
                }

                ul {
                    background: $base-dark;
                    box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                    color: $white;
                    border-radius: 5px;
                    width: 205px;
                    text-align: center;
                    display: none;
                    list-style: none;
                    margin: 20px auto 0;
                    padding: 10px 15px;
                    position: absolute;
                    left: -70px;
                    z-index: 1;
                    li {
                        cursor: pointer;
                        font-size: 12px;
                        line-height: 15px;
                        padding: 5px 3px;
                    }
                    li:hover {
                        color: $sub-base;
                    }

                    ul#submenu {
                        margin-bottom: 20px;
                    }

                }

                #submenu.show{
                    display: block;
                }

                span {
                    cursor: pointer;
                    img {
                        transition: 400ms;
                        transform: rotate(90deg);
                        margin-bottom: -1px;
                        margin-left: 5px;
                    }
                    img.show {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}

.pagiwrap{
    margin: 35px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .sort-pages{
        position: relative;
        padding-right: 20px;
        p{
            margin: 0;
            margin-right: 20px;
            float: left;
            line-height: 50px;
            color: #253449;
            font-size: 14px;
            cursor: pointer;
            img {
                transition: 400ms;
                transform: rotate(90deg);
            }
            img.show {
                transform: rotate(-90deg);
            }

            .sort-arrow {
                margin-left: 5px;
                position: relative;
            }
        }
        ul {
            background: $base-dark;
            box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
            color: $white;
            border-radius: 5px;
            display: none;
            list-style: none;
            margin: 40px 0 0;
            padding: 10px;
            position: absolute;
            left: 0;
            width: 90px;
            z-index: 1;
            li {
                cursor: pointer;
                font-size: 12px;
                line-height: 15px;
                padding: 5px 3px;
                transition: color 0.3s ease;
            }
            li:hover {
                color: $accent;
            }

            ul#submenu {
                margin-bottom: 20px;
            }

        }

        #submenu.show{
            display: block;
        }
    }
}


.submission-form {
  margin-top: 50px;
  margin-bottom: 20px !important;
}

.partner-text{
    margin: 60px auto;
	max-width: 1000px;
	width: 90%;
	font-family: aleobold;

        h2{
            font-size: 22px;
            color: $base-dark;
            line-height: 40px;
        }

        p{
            font-size: 16px;
            color: $base-dark;
        }

        a{
            cursor: pointer;
            text-decoration: underline;
            color: $sub-base;
        }

        .intro {
	        margin-bottom: 50px;
	        line-height: 24px;
        }
}

@media screen and (max-width: 850px){
    .about-buttons{
        .buttonwrap{
            .row{
                li{
                    width: 100%;

                    &:nth-child(n){
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .getinvolved-view{
        a {
            .buttons{
                width: 100%;
            }
        }
    }
    .getinvolved-submit{
        a {
            .buttons{
                width: 100%
            }
        }
        #first-button{
          margin-right: 0;
          margin-bottom: 20px;
        }
    }
    .contactUs-getinvolved{
        a {
            .buttons{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .contact-form{
        .formwrap{
            form{
                .input-section{
                    .inputwrap{
                        width: 100%;
                    }
                }
                .buttonwrap{
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 917px){
    .projectcard{
        #all-header{
            .display-projects {
                .column-header{
                    margin-bottom: 20px;
                }
            }
        }
    }
}
