* {
    box-sizing: border-box;
}
 
html{
    margin: 0 0 0 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $base-light;
}

.btn-next,
.btn-prev {
    background-color: #FBF9F5;
    border: 1px solid rgba(158, 154, 149, 0.4);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.03);
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    opacity: 1;
    position: relative;
    transition: all .5s;
    width: 40px;

    .chevron {
        height: 9px;
        position: relative;
        margin: auto;
    }

    &:hover {
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.03);
        background-color: rgba(14, 49, 100, 0.1);
        border: 1px solid rgba(158, 154, 149, 1);
    }
}

.btn-prev {
    left: 0;
}

.btn-next {
    right: 0;

    .chevron {
        left: 1px;
        transform: rotate(180deg);
    }
}

input:not([type="image"]), textarea {
    box-sizing: border-box;
}

// Accessibility
.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.text-section {
    padding: 50px 0;
    
    h2 {
        border-bottom: 1px solid $sub-base;
        color: $sub-base;
        font-weight: bold;
        margin: 1.5em 0 1em;
        padding: 0 0 8px;
    }

    p {
        line-height: 1.2em;
        margin: 1em 0;
    }

    .date {
        font-style: italic;
    }

    .text-wrapper {
        margin: auto;
        max-width: 1000px;
        width: 90%;
    }
}

// Media query show and hide classes
.hide {
    display: none;

    @media screen and (min-width: $max-width-tablet) {
        &-desktop-only {
            display: none;
        }
    }
}

.show {
    @media screen and (max-width: $max-width-tablet) {
        &-desktop-only {
            display: none;
        }
    }
}
