// Story Cards
.story-card {
    border-radius: 5px;
    color: $text-color-light;
    display: block;
    min-height: 175px;
    overflow: hidden;
    padding: 20px 25px;
    position: relative;
    text-decoration: none;

    width: 100%;

    img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .card-title {
        position: relative;
        line-height: 1;
    }

    .cover {
        border: 4px solid rgba($accent, 0);
        border-radius: 5px;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: .3s all ease;
        width: 100%;
    }

    &:hover {
        .cover {
            border: 4px solid $accent;
        }
    }
}

.card-column{
    height: auto;
    padding: 40px 0;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;

    #feat-title{
        margin-bottom: 0!important;
        float: none;
    }

    .cardheader-wrap{
        margin-bottom: 30px;

        .column-header{
            font-size: 30px;
            color: $base-dark;
        }
    }

    .card-wrap{
        width: 100%;

        .card-row{
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                cursor: pointer;
                width: 49%; //card sizing
                height: 160px;
                margin-bottom: 2%; //card placement for this and 2 child stylings
                margin-right: 2%;
                padding: 20px;
                background-position: center;
                background-size: 105%;
                background-repeat: no-repeat;
                border: 4px solid transparent;
                border-radius: 5px;
                box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15);
                transition: all 0.3s;
                background-image: url(../images/market-stand.jpg);

                a{
                    color: inherit;
                    text-decoration: none;
                }

                // &:nth-child(2n-1){
                //     background-image: url(../images/Rectangle7Copy.jpg);
                // }

                &:nth-child(2n){
                    margin-right: 0;
                    // background-image: url(../images/Rectangle7.jpg);
                }

                .card-title{
                    font-size: 1.5em;
                    color: $white;
                    margin-bottom: 22px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                }

                &:hover{
                    border: 4px solid $accent;
                    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.15);
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-width-400){
    .card-column{
        padding: 50px 0;
    }
}

@media screen and (max-width: $mobile-card-breakpoint-2){
    .card-column{

        .card-wrap{

            .card-row{

                li{
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }
}

// Contributor Cards
.card.contributor{
    margin-bottom: 20px;
    box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: $white;
    transition: all .3s;
    position: relative;
    padding: 20px 20px 0 20px;
    
    h2 {
      line-height: 1;
    }
    
    .row {
      bottom: 0;
      margin: 15px 0 0 0;
      
      .detail{
        margin-right: 30px;
        
        .title{
          font-style: italic;
        }
        .content {
          font-family: aleoregular;
        }
      }
      
      .detail.two {
        .content{
        color: $accent;
        cursor: pointer;
        font-family: aleobold;
        text-decoration: underline;
        }
      }
    }
    
    }
    
    // Contributor Cards
.card.partner{
    margin-bottom: 20px;
    box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: $white;
    transition: all .3s;
    position: relative;
    padding: 20px 20px 0 20px;
    
    h2 {
      line-height: 1;
    }
      
  .detail{
    margin: 20px 0;
    
    .title{
      font-style: italic;
    }
    .content {
        font-family: aleoregular;
    }
    a.content {
      display: block;
      font-family: aleobold;
      line-height: 1;
    }
    }
    .detail.two {
        .content{
		    margin-bottom: 10px;
	    }
    }
    
}