//frequently used colors
$base-dark: #122E46;
$base-light: #FBF9F5;
$sub-base: #EF9708;

//responsive width variables for different pages

//header responsive width
$mobile-max-width:          1100px;
$mobile-card-breakpoint:    1050px;
$mobile-card-breakpoint-2:  600px;
$mobile-width-header:       768px;
$mobile-width-400:          400px;

$mobile-button-breakpoint:  768px;
$mobile-button-breakpoint-2:450px;