.crawler{
    margin: 60px auto 180px;
   // max-width: 1000px;
   padding: 0 50px;

    .crawler-tabs{
        padding: 0;
        max-width: unset;
        margin: 0;
    }

    .search-filter{
        margin: 25px 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .crawler-search{
            position: relative;

            form{
                position: relative;
                width: fit-content;

                .search-field{
                    //border: 1px solid #CED0D2;
                    border-radius: 5px;
                    border: none;
                    box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
                    color: $base-dark;
                    font-size: 14px;
                    font-family: aleobold;
                    margin: 0;
                    //outline: none;
                    padding-left: 20px;
                    padding-right: 60px;
                    //transition: border 0.3s ease;
                    height: 60px;
                    width: 380px;

                    &:hover{
                        //border: 1px solid $base-dark;
                    }
                    &:focus-within{
                        //border: 1px solid $base-dark;
                        //border: none;
                        outline:none;
                    }
                    &::placeholder {
                        color: rgba($base-dark, .75);
                        font-size: 14px;
                        font-family: aleobold;
                    }
                }

                .search-icon-2 {
                  background: none;
                }

                ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #253449;
                    opacity: 1; /* Firefox */
                    font-style: italic;
                    font-family: aleobold;
                }

                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #253449;
                    font-style: italic;
                    font-family: aleobold;
                }

                ::-ms-input-placeholder { /* Microsoft Edge */
                    color: #253449;
                    font-style: italic;
                    font-family: aleobold;

                }
            }
        }

        .create-seed{
            display: none;
        }

        .create-seed.show{
            display: block;
            cursor: pointer;
            text-decoration: none;
            background-color: $accent;
            box-shadow: 0 5px 15px 0 rgba(115,47,35,0.2);
            padding: 15px;
            color: #FFF;
            font-size: 20px;
            border-radius: 5px;
            width: fit-content;
            transition: all .3s;
        }

        .sorting-dropdowns{
            padding: 10px 15px;
            cursor: pointer;
            color: $base-dark;
            font-size: 14px;
            min-width: 180px;

            img {
                transform: rotate(90deg);
                transition: 200ms;
            }

            img.show {
                transform: rotate(-90deg);
            }
            .align-center{
                padding-bottom: 10px;
            }
            .sortby-title, .tag-filter{
                margin-left: 20px;
            }
            span{
              //margin-left: 20px;
              position: relative;
              }

              .sort-by {
              margin-right: -10px;
              }

              .results-per-page {
                margin-left: 10px;
              }

               .tag-filter {
                text-align: left;
                }

            ul {
                background: $base-dark;
                box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                color: $base-light;
                display: none;
                list-style: none;
                padding: 20px;
                position: absolute;
                right: -14px;
                top: 10px;
                text-align: center;
                width: 140px;
                z-index: 1;
                border-radius: 5px;

                li {
                    cursor: pointer;
                    font-size: 12px;
                    line-height: 15px;
                    padding: 5px 3px;

                    input[type='checkbox'] {
                      -webkit-appearance: none;
                      appearance: none;
                      background: #fff;
                      height: 15px;
                      width: 15px;
                      border-radius: 2px;
                      margin-right: 10px;
                      cursor: pointer;
                      vertical-align: middle;

                      &:checked {
                        background: url('../images/check.svg') $accent;
                        background-position: center center;
                        background-repeat: no-repeat;
                      }
                    }

                }
                li:hover {
                    color: $sub-base;
                }
            }
            ul.show {
                display: block;
            }
            span {
                img {
                    height: 9px;
                    margin-left: 5px;
                    display: inline-block;
                }
            }
            span:hover{
              img {
                transform: rotate(-90deg);
              }
              #sortmenu{
                display: block;
              }
            }
        }
    }
    .results-wrap{
        width: 100%;
        display: none;

        .result_header{
            width: 100%;
            border-radius: 5px;
            background-color: $base-light;
            //box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
            display: flex;
            //margin-bottom: 20px;
            p, span {
                opacity: 0.6;
                padding-left: 20px;
                color: #0E3232;
                font-size: 14px;
                font-style: italic;
            }
            .title{
                width: 40%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .url{
                width: 60%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .right {
                    display: flex;
                    .tag {
                        //padding: 10px;
                        //text-align: center;
                        width: 110px;

                    }
                }
            }


        }

        .result{
            width: 100%;
            border-radius: 5px;
            //border: 1px solid #CED0D2;
            background-color: $white;
            box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
            display: flex;
            margin-bottom: 20px;

            .link-name{
                width: 40%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                //border-right: 1px solid rgba(206,208,210,0.5);

                a{
                    padding-left: 20px;
                    color: $base-dark;
                    font-size: 14px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-decoration: none;
                    transition: all 0.3s;
                    &:hover{
                        color: $sub-base;
                    }
                }
            }

            .link-wrap{
                width: 60%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a.link{
                    padding-left: 20px;
                    color: $base-dark;
                    font-size: 14px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all 0.3s;
                    border-left: 1px solid rgba(206,208,210,0.5);
                    padding-top: 10px;
                    padding-bottom: 10px;

                    &:hover{
                        color: $sub-base;
                    }
                }
                .crawler-modal-open {
                  display: none;
                }

                .right{
                    display: flex;

                    .trash{
                        width: 60px;
                        height: 60px;
                        border-left: 1px solid rgba(206,208,210,0.5);
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        flex-shrink: 0;
                        justify-content: center;
                    }

                    .add-seed{
                        text-align: center;
                        background-color: $base-dark;
                        width: 140px;
                        cursor: pointer;
                        p{
                            color: $base-light;
                            font-size: 16px;
                            line-height: 60px;
                        }
                    }

                    .add-tag{
                        border-left: 1px solid rgba(206,208,210,0.5);
                        text-align: center;
                        width: 110px;
                        cursor: pointer;
                        span{
                            color: $base-dark;
                            font-size: 16px;
                            line-height: 60px;
                        }
                        span{
                            position: relative;
                        }
                        span.results-per-page{
                            margin-left: 20px;
                        }
                        ul {
                            background: $base-dark;
                            box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                            color: $base-light;
                            display: none;
                            list-style: none;
                            padding: 20px;
                            position: absolute;
                            right: -30px;
                            top: 30px;
                            width: 130px;
                            text-align: left;
                            z-index: 1;
                            li {
                                cursor: pointer;
                                font-size: 12px;
                                line-height: 15px;
                                padding: 5px 3px;

                                input[type='checkbox'] {
                                  margin-right: 10px;
                                  cursor: pointer;
                                }
                            }
                            li:hover {
                                color: $sub-base;
                            }
                        }
                        ul.show {
                            display: block;
                        }
                    }

                    .display-tag{
                        border-left: 1px solid rgba(206,208,210,0.5);
                        font-size: 14px;
                        padding: 10px;
                        text-align: center;
                        width: 110px;
                        p{
                            color: $base-dark;
                            font-size: 14px;
                            span {
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }
    }
    .broken-wrap{
        width: 100%;
        display: none;

        p.link-info{
            color: #122E46;
            font-size: 16px;
            margin-bottom: 50px;
        }

        .result{
            width: 100%;
            border: 1px solid #CED0D2;
            background-color: #FFFDFB;
            box-shadow: 0 5px 15px 0 rgba(0,0,0,0.04);
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .link-wrap{
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #CED0D2;

                a.link{
                    padding-left: 20px;
                    color: $base-dark;
                    font-size: 14px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all 0.3s;

                    &:hover{
                        color: $sub-base;
                    }
                }

                .right{
                    display: flex;

                    .trash{
                        width: 60px;
                        height: 60px;
                        border-left: 1px solid rgba(206,208,210,0.5);
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        flex-shrink: 0;
                        justify-content: center;
                    }

                    .update{
                        text-align: center;
                        background-color: rgba(18,46,70,0.8);
                        width: 150px;
                        cursor: pointer;
                        p{
                            color: $base-light;
                            font-size: 16px;
                            line-height: 60px;
                        }
                    }
                }
            }

            .message{
                padding: 20px;
                width: 100%;

                p{
                    font-size: 14px;
                    color: $base-dark;
                    margin-bottom: 10px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .seed-wrap, .add-new-seed{
        width: 100%;
        display: none;

        p.link-info{
            color: #122E46;
            font-size: 16px;
            margin-bottom: 30px;
        }

        form{
            position: relative;
            width: fit-content;
            margin-bottom: 30px;

            .search-field{
                //border: 1px solid #CED0D2;
                border-radius: 5px;
                box-shadow: 0 4px 36px 0 rgba(0,0,0,0.05);
                color: $base-dark;
                font-size: 16px;
                font-family: aleoregular;
                margin: 0;
                outline: none;
                padding-left: 20px;
                padding-right: 60px;
                transition: border 0.3s ease;
                height: 60px;
                width: 380px;

                &:hover{
                    //border: 1px solid $base-dark;
                }
                &:focus-within{
                        //border: 1px solid $base-dark;
                }
                &::placeholder {
                    color: rgba($base-dark, .75);
                    font-size: 14px;
                }
            }
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #253449;
                opacity: 1; /* Firefox */
                font-style: italic;
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #253449;
                font-style: italic;
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
                color: #253449;
                font-style: italic;
            }
        }

        .result{
            width: 100%;
            border: 1px solid #CED0D2;
            background-color: #FFFDFB;
            box-shadow: 0 5px 15px 0 rgba(0,0,0,0.04);
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .link-wrap{
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #CED0D2;

                p{
                    color: $base-dark;
                    font-size: 14px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    padding-left: 20px;

                    span{
                        opacity: .8;
                        font-size: 12px;
                        margin-right: 10px;
                    }

                    a.link{
                        color: $base-dark;
                        font-size: 14px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        transition: all 0.3s;

                        &:hover{
                            color: $sub-base;
                        }
                    }
                }

                .right{
                    display: flex;

                    .trash{
                        width: 60px;
                        height: 60px;
                        border-left: 1px solid #CED0D2;
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        flex-shrink: 0;
                        justify-content: center;
                    }

                    .update{
                        text-align: center;
                        background-color: rgba(18,46,70,0.8);
                        width: 150px;
                        cursor: pointer;
                        p{
                            color: $base-light;
                            font-size: 16px;
                            line-height: 60px;
                            padding: 0;
                        }
                    }
                }
            }

            .details{
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .detail-row{
                    width: 100%;
                    border-bottom: 1px solid #CED0D2;
                    display: flex;
                    flex-wrap: wrap;

                    &:last-child{
                        border-bottom: none;
                    }

                    .cell{
                        width: 49.8%;
                        height: 60px;
                        border-right: 1px solid #CED0D2;

                        &:last-child{
                            border-right: none;
                        }

                        p{
                            padding-left: 20px;
                            color: $base-dark;
                            font-size: 14px;
                            line-height: 60px;
                            height: 60px;
                            overflow: hidden;

                            span.label{
                                opacity: .8;
                                font-size: 12px;
                                margin-right: 10px;
                            }

                            a{
                                color: $base-dark;
                                font-size: 14px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                transition: all 0.3s;

                                &:hover{
                                    color: $sub-base;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .show{
        display: block;
    }
}

@media screen and (max-width: 750px){
    .crawler{
        .search-filter{
            .crawler-search{
                width: 100%;
                form{
                    width: 100%;
                    .search-field{
                        width: 100%;
                    }
                }
            }
        }
        .sorting-dropdowns{
            margin-top: 30px;

        }
        .results-wrap{
            .result{
                flex-wrap: wrap;

                .link-name{
                    width: 100%;
                    border-bottom: 1px solid rgba(206,208,210,0.5);
                    p{
                        border-right: none;
                    }
                }

                .link-wrap{
                    width: 100%;

                    .link{

                        a{

                        }
                    }
                }
            }
        }
    }
}


// Modal
.crawler-modal {
    align-items: center;
    background: rgba(0, 0, 0, 0.0);
    display: none;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: 400ms;
    width: 100%;
    z-index: 9999;
    .canvas {
        background: #FAF7F2;
        box-shadow: 0 13px 30px 0 rgba(44,44,44,0.3);
        border-radius: 5px;
        margin: 0 auto;
        max-width: 550px;
        width: 100%;
        opacity: 0;
        padding: 30px;
        position: relative;
        transition: 200ms;
        box-sizing: border-box;

        .body {
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;

            h1.title {
                margin-bottom: 15px;
                font-size: 30px;
                color: $base-dark;
            }
            p.link{
                font-size: 16px;
                color: #C24F3C;
                margin-bottom: 50px;
                text-decoration: underline;
            }
            .confirm-wrap{
                text-align: right;

                input.confirm{
                    background-color: #C24F3C;
                    box-shadow: 0 5px 15px 0 rgba(115,47,35,0.2);
                    border-radius: 5px;
                    border: none;
                    padding: 20px 0;
                    width: 170px;
                    color: #FFFFFF;
                    font-size: 20px;
                    text-align: center;
                    cursor: pointer;
                }
            }
            .close{
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 5px;
                background-color: #0E3232;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
                cursor: pointer;

                img{
                    width: 10px;
                    height: 10px;
                }
            }

            .info-inputs{
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .input-wrap{
                    width: 49%;
                    margin-bottom: 20px;

                    label{
                        width: 100%;
                        font-size: 16px;
                        color: $base-dark;
                        font-family: aleobold;
                    }
                    input{
                        width: 100%;
                        height: 60px;
                        border: 1px solid transparent;
                        border-radius: 5px;
                        background-color: #FFFFFF;
                        box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
                        outline: none;
                        font-size: 16px;
                        color: $base-dark;
                        font-family: aleobold;
                        padding-left: 25px;
                        padding-right: 25px;
                        margin-top: 10px;
                        transition: all .3s;

                        &:hover{
                            border: 1px solid $sub-base;
                        }
                        &:focus-within{
                            border: 1px solid $sub-base;
                        }
                    }
                    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: $base-dark;
                        opacity: .8; /* Firefox */
                    }

                    :-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: $base-dark;
                        opacity: .8;
                    }

                    ::-ms-input-placeholder { /* Microsoft Edge */
                        color: $base-dark;
                        opacity: .8;
                    }
                }
                .url-input{
                    width: 100%;
                }
            }

        }
    }
}
.update-link-modal,.update-seed-modal,.delete-seed-modal{
    .canvas {
        max-width: 650px;
        .body {
            p.link{
                margin-bottom: 40px;
            }
        }
    }
}
