.crawler{
    margin: 60px auto 180px;
    max-width: 1000px;
    padding: 0 6%;

    .crawler-tabs{
        padding: 0;
        max-width: unset;
        margin: 0;
    }

    .search-filter{
        margin: 25px 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .crawler-search{
            position: relative;
        
            form{
                position: relative;
                width: fit-content;
        
                .search-field{
                    border: 1px solid #CED0D2;
                    border-radius: 100px;
                    box-shadow: 0 4px 36px 0 rgba(0,0,0,0.05);
                    color: $base-dark;
                    font-size: 16px;
                    font-family: aleoregular;
                    margin: 0;
                    outline: none;
                    padding-left: 20px;
                    padding-right: 60px;
                    transition: border 0.3s ease;
                    height: 60px;
                    width: 380px;
        
                    &:hover{
                        border: 1px solid $base-dark;
                    }
                    &:focus-within{
                            border: 1px solid $base-dark;
                    }
                    &::placeholder {
                        color: rgba($base-dark, .75);
                        font-size: 14px;
                    }
                }
                ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #253449;
                    opacity: 1; /* Firefox */
                    font-style: italic;
                }
        
                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #253449;
                    font-style: italic;
                }
        
                ::-ms-input-placeholder { /* Microsoft Edge */
                    color: #253449;
                    font-style: italic;
                }
            }
        }
        .sorting-dropdowns{
            padding: 10px 15px;
            cursor: pointer;
            color: $base-dark;
            font-size: 14px;
            min-width: 180px;

            img {
                transition: 200ms;
            }
            img.show {
                transform: rotate(-180deg);
            }
    
            span{
                position: relative;
            }
            span.results-per-page{
                margin-left: 20px;
            }
            ul {
                background: $base-dark;
                box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                color: $base-light;
                display: none;
                list-style: none;
                padding: 20px;
                position: absolute;
                right: 0;
                width: max-content;
                z-index: 1;
                li {
                    cursor: pointer;
                    font-size: 12px;
                    line-height: 15px;
                    padding: 5px 3px;
                }
                li:hover {
                    color: $sub-base;
                }
            }
            ul.show {
                display: block;
            }
            span {
                img {
                    height: 7px;
                    margin-left: 5px;
                }
            }
        }
    }
    .results-wrap{
        width: 100%;
        display: none;

        .result{
            width: 100%;
            border: 1px solid #CED0D2;
            background-color: #FFFDFB;
            box-shadow: 0 5px 15px 0 rgba(0,0,0,0.04);
            display: flex;
            margin-bottom: 20px;

            .link-name{
                width: 50%;
                height: 60px;
                line-height: 60px;
                color: $base-dark;
                font-size: 14px;

                p{
                    padding-left: 20px;
                    border-right: 1px solid rgba(206,208,210,0.5);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            .link-wrap{
                width: 50%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                a.link{
                    padding-left: 20px;
                    color: $base-dark;
                    font-size: 14px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all 0.3s;

                    &:hover{
                        color: $sub-base;
                    }
                }
            }
            .trash{
                width: 60px;
                height: 60px;
                border-left: 1px solid rgba(206,208,210,0.5);
                cursor: pointer;
                align-items: center;
                display: flex;
                flex-shrink: 0;
                justify-content: center;
            }
        }
    }
    .broken-wrap{
        width: 100%;
        display: none;

        p.link-info{
            color: #122E46;
            font-size: 16px;
            margin-bottom: 50px;
        }

        .result{
            width: 100%;
            border: 1px solid #CED0D2;
            background-color: #FFFDFB;
            box-shadow: 0 5px 15px 0 rgba(0,0,0,0.04);
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .link-wrap{
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #CED0D2;

                a.link{
                    padding-left: 20px;
                    color: $base-dark;
                    font-size: 14px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    transition: all 0.3s;

                    &:hover{
                        color: $sub-base;
                    }
                }

                .right{
                    display: flex;

                    .trash{
                        width: 60px;
                        height: 60px;
                        border-left: 1px solid rgba(206,208,210,0.5);
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        flex-shrink: 0;
                        justify-content: center;
                    }

                    .update{
                        text-align: center;
                        background-color: rgba(18,46,70,0.8);
                        width: 150px;
                        cursor: pointer;
                        p{
                            color: $base-light;
                            font-size: 16px;
                            line-height: 60px;
                        }
                    }
                }
            }

            .message{
                padding: 20px;
                width: 100%;

                p{
                    font-size: 14px;
                    color: $base-dark;
                    margin-bottom: 10px;

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .seed-wrap{
        width: 100%;
        display: none;

        p.link-info{
            color: #122E46;
            font-size: 16px;
            margin-bottom: 50px;
        }

        .result{
            width: 100%;
            border: 1px solid #CED0D2;
            background-color: #FFFDFB;
            box-shadow: 0 5px 15px 0 rgba(0,0,0,0.04);
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            .link-wrap{
                width: 100%;
                height: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #CED0D2;

                p{
                    padding-left: 20px;
                    color: $base-dark;
                    font-size: 14px;

                    span{
                        opacity: .8;
                        font-size: 12px;
                        margin-right: 10px;
                    }

                    a.link{
                        color: $base-dark;
                        font-size: 14px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        transition: all 0.3s;
    
                        &:hover{
                            color: $sub-base;
                        }
                    }
                }

                .right{
                    display: flex;

                    .trash{
                        width: 60px;
                        height: 60px;
                        border-left: 1px solid #CED0D2;
                        cursor: pointer;
                        align-items: center;
                        display: flex;
                        flex-shrink: 0;
                        justify-content: center;
                    }

                    .update{
                        text-align: center;
                        background-color: rgba(18,46,70,0.8);
                        width: 150px;
                        cursor: pointer;
                        p{
                            color: $base-light;
                            font-size: 16px;
                            line-height: 60px;
                        }
                    }
                }
            }

            .details{
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .row{
                    width: 100%;
                    border-bottom: 1px solid #CED0D2;
                    display: flex;
                    flex-wrap: wrap;

                    &:last-child{
                        border-bottom: none;
                    }

                    .cell{
                        width: 49.8%;
                        height: 60px;
                        border-right: 1px solid #CED0D2;

                        &:last-child{
                            border-right: none;
                        }
        
                        p{
                            padding-left: 20px;
                            color: $base-dark;
                            font-size: 14px;
                            line-height: 60px;
        
                            span{
                                opacity: .8;
                                font-size: 12px;
                                margin-right: 10px;
                            }
        
                            a{
                                color: $base-dark;
                                font-size: 14px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                transition: all 0.3s;
            
                                &:hover{
                                    color: $sub-base;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .show{
        display: block;
    }
}

@media screen and (max-width: 750px){
    .crawler{
        .search-filter{
            .crawler-search{
                width: 100%;
                form{
                    width: 100%;
                    .search-field{
                        width: 100%;
                    }
                }
            }
        }
        .sorting-dropdowns{
            margin-top: 30px;
            
        }
        .results-wrap{
            .result{
                flex-wrap: wrap;
    
                .link-name{
                    width: 100%;
                    border-bottom: 1px solid rgba(206,208,210,0.5);
                    p{
                        border-right: none;
                    }
                }
    
                .link-wrap{
                    width: 100%;
    
                    .link{
    
                        a{
    
                        }
                    }
                }
            }
        }
    }
}