//Explore main

.explore{
    max-width: 1000px;
    margin: 0 auto;
    padding: 70px 6%;

    .section-wrap{
        clear: both;
        overflow: hidden;

        .section-info{
            float: left;
            max-width: 50%;
            a{
                text-decoration: none;
                color: $base-dark;
            }
            h2{
                font-size: 38px;
                margin-bottom: 30px;
                color: $base-dark;
                display: inline-block;
                padding-bottom: 10px;
                border-bottom: 3px solid rgba(255, 255, 255, 0);
                transition: border .3s ease;
                img{
                    transform: scaleX(-1);
                    margin-left: 17px;
                    margin-bottom: 5px;
                    cursor: pointer;
                }
                &:hover{
                    border-bottom: 3px solid $accent;
                }
            }
            p{
                color: $base-dark;
                font-size: 16px;
                line-height: 24px;
            }
        }
        .section-content{
            float: right;
            width: 45%;
            max-width: 380px;
            a{
                text-decoration: none;
            }
            .content-link{
                width: 100%;
                min-width: 220px;
                display: inline-flex;
                position: relative;
                align-items: center;
                margin-bottom: 15px;
                cursor: pointer;
                transition: all .3s ease;
                padding-bottom: 15px;
                border-bottom: 4px solid rgba(255, 255, 255, 0);
                padding-left: 20px; //new
                .icon{
                    margin-right: 17px;
                }
                h3{
                    font-size: 22px;
                    line-height: 26px;
                    color: $base-dark;
                }
                span{
                    font-size: 20px;
                    line-height: 26px;
                    color: $base-dark;
                    position: absolute;
                    right: 70px; //prev 30
                    opacity: .47;
                    transition: opacity .3s ease;
                }
                .arrow{
                    transform: scaleX(-1);
                    position: absolute;
                    right: 40px; //prev 0
                }

                &:hover{
                    border-bottom: 4px solid $accent;
                    box-shadow: 0 8px 11px 0 rgba(37,52,73,0.1);
                    span{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .explore{
        padding: 40px 6% !important;
        .section-wrap{
            margin-bottom: 0;
            .section-info{
                max-width: 100%;
                width: 100%;
                float: none;
                margin-bottom: 40px;
            }
            .section-content{
                max-width: 100%;
                width: 100%;
                float: none;
            }
        }
    }
}

@media screen and (max-width: $mobile-max-width){
    .explore{
        padding: 70px 6%;
    }
}

//Explore subs
.explore-header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .middlewrap{
        padding-top: 160px;
        padding-bottom: 50px;
    }
}

.info{
    .infowrap{
        a.view-more{
            margin-top: 35px;
            text-decoration: none;
            background-color: $accent;
            box-shadow: 0 5px 15px 0 rgba(115,47,35,0.2);
            padding: 15px;
            color: $white;
            border-radius: 5px;
            display: block;
            width: fit-content;

            &:hover{
                background: #CF5440;
            }
        }
    }
}

.people-page{
    background-image: url(../images/PersonLanding.jpg);
}
.place-page{
    background-image: url(../images/PlaceLanding.jpg);
}
.event-page{
    background-image: url(../images/EventLanding.jpg);
}
.source-page{
    background-image: url(../images/SourceLanding.jpg);
}
.explore-by{
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
    padding: 60px 0 80px;
    h1{
        color: $base-dark;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        list-style-type: none;
        padding: 0;
        margin: 0;
        a{
            color: inherit;
            text-decoration: none;
        }
        li{
            width: 48%;
            background-color: $white;
            border: 2px solid transparent;
            border-radius: 5px;
            box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
            padding: 20px;
            color: $base-dark;
            font-size: 14px;
            cursor: pointer;
            margin-bottom: 30px;
            margin-right: 2%;
            transition: all .3s;

            .type-title{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                vertical-align: middle;
                max-width: 80%;
            }

            //&:nth-child(3n){
            //    margin-right: 0;
            //}

            span{
                float: right;
                margin-right: 12px;
                font-size: 16px;
            }

            #arrow{
                background-image: url(../images/Arrow3.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 9px;
                height: 13px;
                float: right;
                margin-top: 2px;
                transition: .2s;
            }

            &:hover{
                border: 2px solid $accent;
                box-shadow: 0 5px 20px 0 rgba(44,44,44,0.2);
                background-color: rgba(194,79,60,0.01);
                color: $accent;
            }
        }
        .hide-category{
            display: none;
        }
    }
    .sort-cards{
        p{
            margin: 0 0 40px 10px;
            float: left;
            color: #253449;
            font-size: 14px;
            cursor: pointer;
            img {
                transition: 400ms;
            }
            img.show {
                transform: rotate(-180deg);
            }
        }
        ul {
            background: $base-light;
            box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
            color: $base-dark;
            display: none;
            list-style: none;
            margin: 25px auto 0;
            padding: 20px;
            position: absolute;
            left: -861px;
            right: 0;
            width: 100px; //fit-content
            z-index: 1;
            li {
                cursor: pointer;
                font-size: 14px;
                line-height: 15px;
                padding: 5px 3px;
                text-align: center;
            }
            li:hover {
                color: $accent;
            }

            ul#submenu {
                margin-bottom: 20px;
            }

        }

        #submenu.show{
            display: block;
        }
    }
}

.explore-featured{
    padding: 0 0 80px;
}

.card-slider{
    width: 100%;

    h2{
        font-size: 40px;
        color: $base-dark;
        width: 90%;
        margin: 0 auto 25px;
        max-width: 1000px;
    }

    .cardwrap{
        width: 100%;
        overflow: auto;
        -ms-overflow-style: none;  // IE 10+
        scrollbar-width: none;  // Firefox
    }
    .cardwrap::-webkit-scrollbar { 
        display: none;  // Safari and Chrome
    }
    .cardwrap2{
        width: 90%;
        margin: 0 auto;
        max-width: 1000px;
    }
    .cards{
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: fit-content;
        margin-bottom: 35px;

        li.card-featured{
            cursor: pointer;
            width: 390px;
            height: 270px;
            margin-right: 20px;
            box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
            border-radius: 5px;
            border: 2px solid transparent;
            background-color: $white;
            transition: all .3s;
            position: relative;
            padding: 20px;
            
            a{
                text-decoration: none;
            }


            &:hover{
                border: 2px solid $accent;
                box-shadow: 0 12px 13px 0 rgba(44,44,44,0.1);
            }
            
            .card-title{
                display: flex;
                align-items: center;
                margin-bottom: 25px;

                img{
                    margin-right: 15px;
                }

                h3{
                    color: $base-dark;
                    font-size: 24px;
                    margin-right: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                }
            }
            .details{
                display: flex;
                flex-wrap: wrap;
                // justify-content: space-between;

                .detail{
                    margin-right: 25px;
                    margin-bottom: 20px;

                    p{
                        color: $base-dark;
                        font-size: 14px;
                    }
                    .detail-title{
                        font-style: italic;
                    }
                }
            }
            .connectionswrap{
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                padding-bottom: 5px;

                .connections{
                    min-height: 40px;
                    max-width: 100%;
                    padding: 0 10px;
                    display: flex;
                    justify-content: space-between;

                    .card-icons{
                        position: relative;
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        padding: 0 10px;

                        &:hover{
                            .connection-menu{
                                display: block;
                            }
                        }

                        img{
                            margin-right: 10px;
                            height: 22px;
                            opacity: .8;
                        }
                        span{
                            font-size: 14px;
                            color: $base-dark;
                            opacity: .8;
                        }
                        .connection-menu{
                            display: none;
                            background: $base-dark;
                            box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                            color: $base-light;
                            font-size: 12px;
                            white-space: nowrap;
                            position: absolute;
                            padding: 20px;
                            bottom: 40px;
                            right: -90px;
                            width: 220px;
                            z-index: 10;

                            &.hovered{
                                display: block;
                            }

                            h1{
                                font-size: 18px;
                                margin-bottom: 10px;
                            }
                            ul{
                                padding: 0;
                                li{
                                    width: unset;
                                    display: list-item;
                                    margin: 0;
                                    padding: 0;
                                    border: none;
                                    box-shadow: none;
                                    list-style-type: none;
                                    cursor: pointer;
                                    font-size: 13px;
                                    transition: .2s;
                                    line-height: 16px;
                                    padding: 5px 0;
                                    word-wrap: break-word;
                                    white-space: normal;

                                    #arrow{
                                        color: $base-light;
                                        background-image: url(../images/Arrow.svg);
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        width: 10px;
                                        height: 6px;
                                        transform: rotate(-90deg);
                                        float: right;
                                        margin: 5px 0 0 10px;
                                        transition: color .2s;
                                    }

                                    &:hover{
                                        color: $sub-base;
                                        #arrow{
                                            background-image: url(../images/Arrow_colored.svg);
                                        }
                                    }

                                    span{
                                        opacity: .6;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .controls{
        width: 90%;
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        flex-wrap: wrap;

        .arrows{
            display: flex;
            width: 100px;
            justify-content: space-between;
            margin-right: 30px;
            
            .next,.prev{
                height: 40px;
                width: 40px;
                border: 2px solid transparent;
                border-radius: 5px;
                background-color: $white;
                box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all .3s;

                img{
                    margin: 0 auto;
                }

                &:hover{
                    border: 2px solid $accent;
                    box-shadow: 0 5px 20px 0 rgba(44,44,44,0.2);
                    background-color: rgba(194,79,60,0.01);
                    color: $accent;
                }
            }
            .prev{
                img{
                    transform: scaleX(-1);
                }
            }
        }
        .dots{
            display: flex;
            align-items: center;

            .dot{
                height: 12px;
                width: 12px;
                border-radius: 50%;
                border: 1.6px solid rgba(14,50,50,0.2);
                background-color: $white;
                margin-right: 5px;
                cursor: pointer;
                transition: all .3s;

                &:hover{
                    background-color: $accent;
                    border: 1.6px solid transparent;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
                }
            }
            .active{
                background-color: $accent;
                border: 1.6px solid transparent;
            }
        }
    }
}

.explore-search{
    padding: 0 0 80px;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;

    h2{
        font-size: 40px;
        margin: 0 0 25px;
        color: $base-dark;
    }

    p{
        margin-bottom: 15px;
    }

    form{
        position: relative;
        margin: 0;

        .search-field{
            border: 2px solid transparent;
            border-radius: 5px;
            box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
            color: $base-dark;
            background-color: $white;
            font-size: 14px;
            margin: 0;
            outline: none;
            padding: 0;
            padding-left: 30px;
            transition: border 0.2s;
            height: 60px;
            width: 100%;
            padding-right: 60px;

            &:hover{
                border: 2px solid $accent;
            }
            &:focus-within{
                border: 2px solid $accent;
            }
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $base-dark;
            opacity: 1; /* Firefox */
            font-style: italic;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $base-dark;
            font-style: italic;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: $base-dark;
            font-style: italic;
        }
        // .search-icon{
        //     cursor: pointer;
        //     height: 60px;
        //     width: 60px;
        //     position: absolute;
        //     right: 0;
        //     top: 0;
        //     background-image: url(../images/Search-dark.svg);
        //     background-repeat: no-repeat;
        //     background-position: 50% 50%;
        //     background-size: 30%;
        // }
    }
}

.explore-visualize{
    margin: 0 auto;
    padding: 0 6% 80px;
    max-width: 1000px;

    .column-header{
        color: $base-dark;
        font-size: 36px;
        margin-bottom: 30px;
    }

    .cardwrap{
        // margin: 0 auto;
        // max-width: 1000px;

        .row{
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li{
                width: 30%; //card sizing
                margin-bottom: 40px; //card placement for this and 2 child stylings
                margin-right: 5%;
                padding: 0;
                cursor: pointer;
                background-repeat: no-repeat;
                background-size: cover;

                a{
                    color: inherit;
                    text-decoration: none;
                }


                &:nth-child(3n){
                    margin-right: 0;
                }

                .cards{
                    color: $base-light;
                    position: relative;
                    height: 180px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    box-shadow: 0 15px 25px 0 rgba(18,46,70,0.1);
                    border-bottom: 5px solid transparent;
                    transition: border 0.3s ease,  box-shadow 0.3s ease;

                    .test{
                        margin: 0 auto;
                        width: fit-content;
                        padding-top: 20px;
                    }

                    a{
                        color: inherit;
                        text-decoration: none;
                    }

                    p{
                        font-size: 26px;
                        text-align: center;
                        color: #FBF9F5;
                    }

                    &:hover{
                        border-bottom: 5px solid $accent;
                        box-shadow: 0 35px 45px 0 rgba(18,46,70,0.2);
                    }
                }
            }
            #byspace{
                // .cards{
                    background-image: url(../images/BySpace.png);
                // }
            }
            #bytime{
                // .cards{
                    background-image: url(../images/ByTime.png);
                // }
            }
            #bydata{
                // .cards{
                    background-image: url(../images/ByData.png);
                // }
            }
        }
    }
}

@media screen and (max-width: 580px){
    .explore-by{
        .cards{
            li{
                width: 100%;
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 800px){
    .explore-featured{
        .connection-cards{
            .connect-row{
                li{
                    width: 32%;
                    margin-right: 2%;

                    &:nth-child(4n){
                        margin-right: auto;
                    }
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 650px){
    .explore-featured{
        .connection-cards{
            .connect-row{
                li{
                    width: 49%;
                    margin-right: 2%;

                    &:nth-child(3n){
                        margin-right: auto;
                    }
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 400px){
    .explore-featured{
        .connection-cards{
            .connect-row{
                li{
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    .explore-visualize{
        .cardwrap{
            .row{
                li{
                    width: 100%;

                    &:nth-child(n){
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
