.fullstory{
    background-image: url(../images/Rectangle7Copy.jpg);

    .middlewrap{
        padding-bottom: 50px;

        .last-page-header{
            margin-bottom: 90px;

            #last-page {
                color: $base-light;
                font-size: 17px;
                font-weight: 500;
                text-decoration: none;
                span#previous-title{
                    color: rgb(185, 184, 180);
                    transition: color .3s;

                    &:hover{
                        color: #FBF9F5;
                    }
                }
            }
            span#current-title{
                color: $base-light;
                font-size: 17px;
                font-weight: 500;
                border-bottom: 3px solid $sub-base;
                padding-bottom: 5px;
            }
        }
    }
}

//Seperating the left and right sides
.story-content {
    margin: 0 auto;
    max-width: 1000px;
    padding: 65px 6% 0;

    .columnwrap{
        border-bottom: 1px solid rgba(37,52,73,0.1);
        overflow: auto;
    }
    a{
        color: $sub-base;
    }
    .left-column, .right-column {
        display:inline-block!important;
        padding-bottom: 64px;
	}
	.left-column {
        line-height: 2;
        transition: 400ms;
		width:60%;

		section {
			margin-bottom:32px;
            overflow: auto;
            border-bottom: 2px solid rgba(37,52,73,0.1);
            padding-bottom: 48px;

            &:last-child{
                padding-bottom: 0!important;
            }
            p{
                font-size: 16px;
                color: $base-dark;
                margin-bottom: 30px;
            }

			p:last-child {
                margin-bottom: 0!important;
			}

            h2 {
                font-size: 24px;
                color: $base-dark;
                margin-bottom: 24px;
            }
        }

        section.online-resources{
            padding-bottom: 32px;

            p{
                font-size: 14px;
                line-height: 20px;
            }
        }

        section.bibliography{
            margin-bottom: 0;
            border-bottom: none;

            p{
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 25px;
            }
        }
	}
    .right-column {
        float: right;
		width:32%;

        .sliderwrap{
            margin-bottom: 65px;
            width: 100%;
            height: auto;
            position: relative;
            //height: 392px;

            .expand{
                cursor: pointer;
                position: absolute;
                top: 1px;
                right: 1px;
                height: 40px;
                width: 40px;
                z-index: 2;
                background-color: $base-light;


                img{
                    margin: 12px;
                }
            }

            .caption {
                text-align: center;
                padding-top: 20px;
                opacity: 0.7;
            }

            .slider{

                background-color: $base-light;/*
                background-image: url(../images/ibrahima.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;*/
                border: 1px solid rgba(18, 46, 70, 0.1);
                width: auto;
                height: auto;

                img{
                    max-width: 100%;
                    max-height: 360px;
                }

                .mySlides{
                    margin: 0 auto;
                    display: none;
                }

                .fade {
                    -webkit-animation-name: fade;
                    -webkit-animation-duration: 1.5s;
                    animation-name: fade;
                    animation-duration: 1.5s;
                }
                @-webkit-keyframes fade {
                    from {opacity: .4}
                    to {opacity: 1}
                }
                @keyframes fade {
                    from {opacity: .4}
                    to {opacity: 1}
                }
            }

            .image-pagination{
                height: 32px;
                width: 100%;
                position: relative;
                display: block;

                #prev-arrow, #next-arrow{
                    cursor: pointer;
                    position: absolute;
                    bottom: 0;
                }

                #prev-arrow{
                    left: 30px;
                }

                #next-arrow{
                    transform: scaleX(-1);
                    right: 30px;
                }

                .dotwrap{
                    padding-top: 24px;

                    .dot {
                        cursor: pointer;
                        height: 7px;
                        width: 7px;
                        margin: 0 4px;
                        background-color: rgba(18,46,70,0.1);
                        border-radius: 50%;
                        display: inline-block;
                        transition: background-color 0.6s ease;
                    }

                    .active, .dot:hover {
                        background-color: #122E46;
                    }
                }
            }
        }

        .key-events {
            .key-events-title{
                font-size: 28px;
                color: $base-dark;
                margin-bottom: 30px;
            }

            .key-events-date{
                font-size: 22px;
                color: $base-dark;
                margin-bottom: 20px;

            }

            .key-events-text{
                color: $base-dark;
                border-left: 2px solid rgba(37,52,73,0.1);
                padding-left: 34px;
                padding-bottom: 15px;
                margin-left: 10px;
                margin-bottom: 24px;
                font-size: 15px;
                line-height: 18px;
            }

            .key-events-text:last-child{
                padding-bottom: 0;
            }
        }
	}
}

.modal-view{
    background: rgba(51, 51, 51, .7);
    color: $base-dark;
    display: none;
    height: 100%;
    width: 100%;
    transition: 400ms;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    z-index: 1001;

    .modal-image{
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.story-connections{
    border-bottom: 1px solid rgba(37,52,73,0.1);
    padding: 65px 0;
    max-width: 1000px;

    h2{
        font-size: 30px;
        color: $base-dark;
    }
    .categories{
        margin-top: 47px;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            li{
                cursor: pointer;
                display: inline-table;
                font-size: 16px;
                color: rgb(37, 52, 73);
                opacity: .25;
                padding-bottom: 20px;
                padding-left: 40px;
                margin-right: 45px;
                margin-bottom: 20px;
                position: relative;
                transition: opacity .3s;

                &:hover{
                    opacity: 1;
                }
                div{
                    padding-right: 10px;
                    left: 0;
                    top: -5px;
                    background-repeat: no-repeat;
                    position: absolute;
                }
                .person-image{
                    height: 26px;
                    width: 26px;
                    background-image: url(../images/Person-dark.svg);
                }
                .event-image{
                    height: 25px;
                    width: 25px;
                    background-image: url(../images/Event-dark.svg);
                }
                .place-image{
                    height: 26px;
                    width: 23px;
                    background-image: url(../images/Place-dark.svg);
                }
                .project-image{
                    height: 24px;
                    width: 27px;
                    background-image: url(../images/Project-dark.svg);
                }
                .source-image{
                    height: 25px;
                    width: 22px;
                    background-image: url(../images/Source-dark.svg);
                }
            }
            .selected{
                border-bottom: 2px solid $sub-base;
                opacity: 1;
            }
        }
    }
    .connection-cards{
        padding: 0;
        .connect-row{
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 32px 0 30px;
            padding: 0;

            li{
                width: 24%;
                margin-right: 1.3%;
                margin-bottom: 15px;
                background-image: none;
                background-repeat: no-repeat;
                background-size: cover;
                &:hover{
                    .cards{
                        border: 3px solid #EF9708;
                        box-shadow: 0 12px 13px 0 rgba(51, 51, 51, .05);
                    }
                }
                .cards{
                    cursor: pointer;
                    box-shadow: 0 2px 3px 0 rgba(51, 51, 51, .05);
                    border: 3px solid rgba(239, 150, 8, 0);
                    transition: border 0.3s ease, box-shadow 0.3s ease;
                    height: 178px;
                    position: relative;
                    //background-color: #122E46;

                    img{
                        position: absolute;
                        top: 15px;
                        left: 17px;
                    }
                    h3{
                        position: absolute;
                        color: #EEEBE7;
                        font-size: 20px;
                        width: 122px;
                        bottom: 15px;
                        left: 17px;
                        margin-right: 10px;
                    }
                }
                &:nth-child(4n){
                    margin-right: 0;
                }
            }
        }
        .load-more, .search-all{
            margin: 0 auto;
            max-width: 140px;
            h4{
                cursor: pointer;
                color: #122E46;
                font-size: 18px;
                text-align: center;
                margin-top: 55px;
                transition: color .3s;

                &:hover{
                    color: $sub-base;
                }
            }
        }
        .loaded{
            display: none;
        }
    }
}

.search-all{
    text-decoration: none;
    max-width: 140px;
    color: $sub-base;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    transition: color .3s;
}

.related-card {
    //margin-top: 85px;
    //border-top: 2px solid rgba(37,52,73,0.1);
    padding-top: 64px;
    padding-bottom: 80px;

    .cardheader-wrap{
        padding: 0;

        .column-header{
            color: $base-dark;
            font-size: 30px;
            float: left;
            margin-bottom: 20px;
        }
    }

    .cardwrap{
        padding: 0;
    }
}

@media screen and (max-width: 950px){
	.story-content {
		.left-column, .right-column {
            float: none;
			width:100%;
		}
		.left-column {
            margin-right: 0;
		}
        .right-column {
            margin-bottom: 60px;
        }

        .related-card{
            margin-top: 0;
        }
    }
}

@media screen and (max-width: $mobile-width-400){
    .last-page-header{
        margin-bottom: 0;
        display: none;
    }
}

@media screen and (max-width: 760px){
    .story-connections{
        .categories{
            ul{
                li{
                    padding-bottom: 10px;
                    margin-bottom: 30px;
                }
            }
        }
        .connection-cards{
            .connect-row{
                li{
                    width: 32%;
                    margin-right: 2%;

                    &:nth-child(4n){
                        margin-right: auto;
                    }
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 580px){
    .story-connections{
        .connection-cards{
            .connect-row{
                li{
                    width: 49%;
                    margin-right: 2%;

                    &:nth-child(3n){
                        margin-right: auto;
                    }
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
