.jump-buttons{
    padding: 0 6% 10px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;

    .jumpwrap{
        position: absolute;
        top: -22px;
        width: 87%;

        .jump-button{
            height: 45px;
            width: 260px;
            border: 1px solid $sub-base;
            border-radius: 100px;
            background-color: #FFFDFB;
            box-shadow: 0 4px 6px 0 rgba(0,0,0,0.04);
            cursor: pointer;
            color: $base-dark;
            font-family: aleoregular;
            font-size: 14px;
            position: relative;
            overflow: hidden;
            background-image: url(../images/Arrow-dark.svg);
            background-repeat: no-repeat;
            background-position: 90% 50%;
        
            &:focus{
                outline: none;
            }

            &:first-child{
                margin-right: 30px;
                margin-bottom: 15px;
            }
        }
    }
}

.record-connections{
    border-bottom: none;
    padding: 40px 6% 80px;
    max-width: 1000px;
    margin: 0 auto;

    .connectionwrap{
        padding-bottom: 20px;
    }
}
.source-event-connections{
    padding-bottom: 0;
    .connectionwrap{
        padding-bottom: 80px;
        border-bottom: 1px solid rgba(37,52,73,0.1);
    }
}

.person-timeline{
    padding: 40px 6% 0;
    max-width: 1000px;
    margin: 0 auto;
    .timelinewrap{
        border-bottom: 1px solid rgba(37,52,73,0.1);
        padding-bottom: 100px;
        h2{
            color: $base-dark;
            font-size: 30px;

        }
    }
}

.detail-section{
    padding: 80px 6% 0;
    max-width: 1000px;
    margin: 0 auto;
    .detailwrap{
        overflow: auto;
        padding-bottom: 80px;
        border-bottom: 1px solid rgba(37,52,73,0.1);
        .left-col{
            float: left;
            width: 43%;

            .card {
                cursor: pointer;
                font-size: 14px;
                padding: 5px 3px;
                width: 100%;
                margin-bottom: 40px;
                padding: 0;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                &:hover{
                    color: $sub-base;
                }
                &:nth-child(2n-1){
                    background-image: url(../images/Rectangle7Copy.jpg);
                }
                &:nth-child(2n){
                    background-image: url(../images/Rectangle7.jpg);
                }

                a{
                    color: inherit;
                    text-decoration: none;
                }

                .cards{
                    border: 3px solid rgba(13,18,48,0);
                    box-shadow: 0 2px 3px 0 rgba(30,30,30,0.05);
                    //background-color: $base-dark;
                    color: $base-light;
                    cursor: pointer;
                    height: 120px;
                    padding: 20px;
                    position: relative;
                    transition: border 0.3s ease, box-shadow 0.3s ease;

                    p{
                        display: -webkit-box;
                        font-size: 14px;
                        margin-bottom: 22px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }

                    .card-title{
                        font-size: 18px;
                        max-width: 280px;
                    }

                    .card-view-story{
                        bottom: 15px;
                        right: 15px;
                        cursor: pointer;
                        position: absolute;
                        transition: color 0.3s ease;
                        font-style: italic;

                        .view-arrow{
                            transform: rotate(270deg);
                            float: right;
                            margin-left: 10px;
                            margin-top: 5px;
                            height: 8px;
                            width: 13px;
                            background-image: url(../images/Arrow.svg);
                            background-repeat: no-repeat;
                            transition: background-image 0.3s ease;
                            
                        }
                    }

                    &:hover{
                        border: 3px solid $sub-base;
                        box-shadow: 0 12px 13px 0 rgba(30,30,30,0.05);

                        .card-view-story{
                            color: $sub-base;

                            .view-arrow{
                                background-image: url(../images/Arrow_colored.svg);
                            }
                        }
                    }
                }
            }

            .copyright{
                padding-top: 40px;
                padding-bottom: 80px;
                h2{
                    color: $base-dark;
                    font-size: 22px;
                    margin-bottom: 20px;
                }
                p{
                    color: $base-dark;
                    font-size: 14px;
                    margin-bottom: 20px;
                }
                img{
                    cursor: pointer;
                }
            }
            .share-links{
                h2{
                    color: $base-dark;
                    font-size: 22px;
                    margin-bottom: 20px;
                }
                img{
                    margin-right: 20px;
                    cursor: pointer;
                }
            }
        }

        .right-col{
            float: right;
            width: 43%;

            a{
                text-decoration: none;
            }
            .detail{
                margin-bottom: 40px;

                &:hover{
                    .detail-top{
                        border-bottom: 2px solid $sub-base;
                    }                    
                }

                .detail-top{
                    width: 100%;
                    display: inline-flex;
                    position: relative;
                    align-items: center;
                    margin-bottom: 15px;
                    cursor: pointer;
                    transition: all .3s ease;
                    padding-bottom: 10px;
                    border-bottom: 2px solid #E4DED5;
                    h3{
                        font-size: 20px;
                        line-height: 26px;
                        color: $base-dark;
                    }
                    .arrow{
                        transform: scaleX(-1);
                        position: absolute;
                        right: 0; //prev 0
                    }
                }

                p{
                    font-size: 14px;
                    color: $base-dark;
                    line-height: 26px;
                }
            }
        }
    }
}

.featured-card{
    padding-top: 80px;
    .cardheader-wrap{
        h2{
            font-size: 36px;
            color: $base-dark;
        }
    }
}

@media screen and (max-width: 660px){
    .jump-buttons{
        padding-bottom: 40px;
        .jumpwrap{
            .jump-button:first-child{
                margin-right: 40px;
            }
        }
    }
}
@media screen and (max-width: 460px){
    .jump-buttons{
        padding-bottom: 40px;
        .jumpwrap{
            .jump-button{
                width: 100%;
                &:first-child{
                    margin-right: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 650px){
    .detail-section{

        .detailwrap{

            .left-col{
                float: none;
                width: 100%;
            }
            .right-col{
                float: none;
                width: 100%;
            }
        }
    }
}