.nav-header{
    color: $base-light;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
    position: absolute;
    //box-shadow: 0 5px 10px 0 rgba(13,18,48,0.16);
    //background-color: rgba(18, 46, 70, .5);
    //overflow: hidden;
    
    .headerwrap{
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 6%;
        .leftnav{
            float: left;
            a{
                text-decoration: none;
                color: #FFFFFF;
                line-height: 50px;
                font-size: 32px;
                margin: 0;
            }
        }
        .rightnav{
            float: right;
            .nav-menu{
                list-style-type: none;
                margin: 0;
                padding: 0;
                line-height: 50px;
            
                .nav-item{
                    display: inline;
                    cursor: pointer;
            
                    .nav-link{
                        color: #FFFFFF;
                        cursor: pointer;
                        font-size: 14px;
                        margin-left: 20px;
                        padding: 18px 0;
                        text-decoration: none;
                        transition: color 0.3s ease;
                    }
                    &:hover {
                        .nav-link{
                            color: $sub-base;
                        }
                    }

                    #search{
                        border-right: 1px solid #FFFFFF;
                        padding: 5px 20px 5px 0;
                        margin-left: 15px;
                    }
                    .search-icon{
                        margin-bottom: -2px;
                    }
                    
                    .selected{
                        border-top: 2px solid $sub-base;
                        opacity: 1;
                        padding: 12px 3px;
                    }

                    .drop-carat, .drop-link{
                        display: inline-block;
                    }
            
                    .drop-carat{
                        cursor: pointer;
                        margin-left: 7px;
                        // keeps the browse tag from shifting left after a click event
                        img{
                            transition: .3s ease-out;
                            width: 12px;
                        }
                    }
                    .carat-up{
                        img{
                            transform: scaleY(-1);
                        }
                    }
                }
                .drop-link{

                    .sub-list{
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        display: none;
    
                        .subwrap{
                            background-color: $base-light;
                            box-shadow: 0 4px 8px 0 rgba(13,18,48,0.16);
                            top: -1px;
                            margin: 0;
                            padding: 10px;
                            padding-top: 0;
                            position: absolute;
                            text-align: center;
                            width: 90px;
    
                            .nav-sublink{
                                display: block;
                                color: $base-dark;
                                cursor: pointer;
                                font-family: aleoregular;
                                font-size: 14px;
                                line-height: 35px;
                                text-decoration: none;
                                transition: color 0.3s ease;
                            }
    
                            .nav-sublink:hover{
                                color: $sub-base;
                            }
                        }
                        #explore-sub{
                            left: 93px;
                        }
                        #visualize-sub{
                            left: 193px;
                        }
                        #about-sub{
                            left: 423px;
                        }
                    }
                    .sub-showing{
                        display: block;
                    }
                }
            }
        }
        .responsive-menu{
            margin-right: 1vw;
            width: 100%;
        }
    
        .dropdown-menu{
            display: none;
            float: right;
    
            .nav-link{
                color: #FFFFFF;
                cursor: pointer;
                font-family: aleoregular;
                font-size: 14px;
                font-weight: 300;
                line-height: 50px;
                padding-right: 10px;
                text-decoration: none;
            }
    
            .dropdown-button{
                cursor: pointer;
                font-size: 12px;
    
                // keeps the "menu" text from shifting position
                img{
                    width: 13px;
                }
            }
        }
    }
}

.fixedheader{
    box-shadow: 0 5px 10px 0 rgba(13,18,48,0.16);
    background-color: rgb(18, 46, 70); //opacity was .5
    position: fixed;
    // top: -50px;
    transition: top 0.3s;
    //overflow: hidden;
    .left-section{
        margin-top: 10px;
        img{
            width: 100px;
        }
    }
    .right-section{
        margin-top: 10px;
    }
}

@media screen and (max-width: 780px){

    .nav-header{

        .dropclass{
            display: block !important;
            position: absolute;
            right: 0;
            top: 50px;
        }
        .rightnav{
            background-color: $base-dark;
            display: none;
            height:550px;
            margin-right: 0px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: right;
			width: 230px;

            .nav-menu{
                padding-top: 30px!important;

                .nav-item{
                    display: block!important;
                    margin-right: 70px;

                    .drop-carat{
                        margin-left: -55px;
                    }

                    .nav-link{
                        line-height: 45px;
                    }

                    #search{
                        border-right: none !important;
                        padding: 0 !important;
                    }
                    
                    .selected {
                        padding: 0 0 5px;
                    }
                }
                .drop-link{
                    margin-right: 48px;
                    .sub-list{
						position: static!important;
						margin-right: -35px;

                        .subwrap{
                            margin-left: 70px!important;
                            width: 75%!important;
                            position: static!important;
                            text-align: right!important;
                            background-color: $base-dark!important;
                            box-shadow: none!important;

                            .nav-sublink{
                                color: $base-light!important;
                                margin-right: 40px;
                                &:hover{
                                    color: $sub-base!important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .dropdown-menu{
            display: block !important;
        }
    }
}