 // LANDING HEADER STYLING FOR HOME, SEARCH, and SUB PAGES after navigation styling

.nav-header{
    color: $base-light;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 95px;
    z-index: 1001;
    position: absolute;
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    //box-shadow: 0 5px 10px 0 rgba(13,18,48,0.16);
    //background-color: rgba(18, 46, 70, .5);
    //overflow: hidden;

    .headerwrap{
        width: 97.5%;
        margin: 0 auto;
        .leftnav{
            float: left;
            div.logo{
                padding-top: 10px;

                img{
                    height: auto;
                }
            }
        }
        .rightnav{
            float: right;
            .nav-menu{
                list-style-type: none;
                margin: 21px 0 0 0;
                padding: 0;

                .nav-item{
                    display: inline;
                    cursor: pointer;
                    position: relative;

                    .nav-link{
                        color: white;
                        cursor: pointer;
                        font-size: 14px;
                        margin-left: 20px;
                        padding: 18px 0;
                        text-decoration: none;
                        transition: color 0.3s ease;

                        &.donate {
	                        color: white;
	                    	background: $accent;
	                    	border-radius: 5px;
	                    	padding: 12px;
	                    	transition: all .2s ease;

	                    	&:hover {
		                    	color: white;
		                    	background: #CF5440;
	                    	}
                    	}
                    }

                    &:hover {
                        .nav-link{
                            color: $sub-base;
                        }
                        .nav-link.donate{
	                        color: white;
                        }
                    }

                    .search-icon{
                        height: 12px;
                        margin-bottom: -2px;
                        margin-left: 2px;
                    }

                    .selected{
                        border-top: 2px solid $sub-base;
                        opacity: 1;
                        padding: 12px 3px;
                    }

                    .drop-carat, .drop-link{
                        display: inline-block;
                    }

                    .drop-carat{
                        cursor: pointer;
                        margin-left: 7px;
                        // keeps the browse tag from shifting left after a click event
                        img{
                            transition: .3s ease-out;
                            width: 12px;
                        }
                    }
                    .carat-up{
                        img{
                            transform: scaleY(-1);
                        }
                    }
                }
                .drop-link{

                    .sub-list{
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        display: none;
                        left: 7px;
                        top: 30px;

                        .subwrap{
                            background-color: $base-dark;
                            box-shadow: 0 4px 8px 0 rgba(13,18,48,0.16);
                            border-radius: 5px;
                            top: -1px;
                            margin: 0;
                            padding: 10px;
                            position: absolute;
                            text-align: center;
                            min-width: 90px;
                            max-width: 200px;

                            .nav-sublink{
                                display: block;
                                color: #FFF;
                                cursor: pointer;
                                font-family: aleobold;
                                font-size: 14px;
                                line-height: 1;
                                padding: 8px;
                                text-decoration: none;
                                transition: color 0.3s ease;
                            }

                            .nav-sublink:hover{
                                color: $sub-base;
                            }
                        }
                        /*
                        #explore-sub{
                            //left: 93px;
                        }
                        #visualize-sub{
                            //left: 193px;
                        }
                        #about-sub{
                            //left: 322px; //was left: 423px;
                        }
                        */
                    }
                    .sub-showing{
                        display: block;
                    }
                }
            }
        }
        .responsive-menu{
            margin: 6px;
            width: 100%;
        }

        .dropdown-menu{
            display: none;
            float: right;

            .nav-link{
                color: #FFFFFF;
                cursor: pointer;
                font-family: aleobold;
                font-size: 14px;
                font-weight: 300;
                line-height: 50px;
                padding-right: 10px;
                text-decoration: none;
            }

            .dropdown-button{
                cursor: pointer;
                font-size: 12px;

                // keeps the "menu" text from shifting position
                img{
                    width: 13px;
                }
            }
        }
    }
}

.fixedheader{
    box-shadow: 0 5px 10px 0 rgba(13,18,48,0.16);
    background: $base-dark;
    position: fixed;
    height: 65px;
    // top: -50px;
    transition: top 0.3s;
    //overflow: hidden;
    .left-section{
        margin-top: 10px;
        img{
            width: 100px;
        }
    }
    .right-section{
        margin-top: 10px;
    }
}

@media screen and (max-width: 1050px){

    .nav-header{

        .dropclass{
            display: block !important;
            position: absolute;
            right: 0;
            top: 50px;
        }
        .rightnav{
            background-color: $base-dark;
            border-radius: 5px 0 0 5px;
            display: none;
            height:550px;
            margin-right: 0px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: right;
            width: 230px;

            .nav-menu{

                .nav-item{
                    display: block!important;
                    margin-right: 30px;

                    .drop-carat{
                        margin-left: -55px;
                    }

                    .nav-link{
                        line-height: 45px;
                    }

                    #search{
                        border-right: none !important;
                        padding: 0 !important;
                    }

                    .selected {
                        padding: 0 0 5px;
                    }
                }
                .drop-link{
                    margin-right: 30px;
                    .sub-list{
						position: static!important;
						margin-right: -35px;

                        .subwrap{
                            margin-left: 70px!important;
                            width: 75%!important;
                            padding: 0 10px 10px!important;
                            position: static!important;
                            text-align: right!important;
                            background-color: $base-dark!important;
                            box-shadow: none!important;

                            .nav-sublink{
                                color: $base-light!important;
                                &:hover{
                                    color: $sub-base!important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .dropdown-menu{
            display: block !important;
        }
    }
}



 // LANDING HEADER STYLING FOR HOME, SEARCH, and SUB PAGES

.header{
    height: auto;
    width: 100%;
    background: none;
    position: relative;
    transition: 400ms;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
    z-index: 5;

    &.home-page {
		background: $base-dark;
		box-shadow: none;
	}

	&.search-page {
		background: $base-dark;
		// box-shadow: none;
	}

	h1 {
  		text-shadow: 0 5px 15px rgba(0,0,0,0.5);

  		&.no-shadow {
    		text-shadow: none;
	}
	}

    .image-container {


      &.search-page {


	  	.header-background {

	  		}

	  	&.image-only {
		  	box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
	  	}

  		}

    .image-background-overlay {
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: 0;
      z-index: 1;

      &.home-page {
	      top: 230px;
      }

      &.search-page {
	  		top: 130px;
     }
    }

    .cache-header-images{
        display: none;
    }

    .header-background {
        left: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &.home-page{
	        height: 330px;
        }

        &.search-page {
          height: 230px;
      }

        &.full-height {
            height: 100%;
        }
    }
   }

   .middlewrap{
        color: $base-light;
        margin: 0 auto;
        max-width: $max-width-content;
        position: relative;
        padding-top: 90px;
        padding-bottom: 30px;
        font-size: 28px;
        transition: 400ms;
        width: 90%;
        z-index: 2;

        &.home-page {
	        padding-top: 250px;
	        padding-bottom: 60px;
        }

        &.search-page{
          padding-top: 190px;
          padding-bottom: 55px;

          @media screen and (max-width: 470px){
              padding-bottom: 30px;
            }
			}
   }
}
