.image-card-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: unset;
    padding: 0;
    .image-grid-column {
        flex: 25%;
        max-width: 25%;
        width: 25%;
        .image-grid-card {
            position: relative;
            transition: 400ms;
            .border {
                box-sizing: border-box;
                height: 100%;
                position: absolute;
                transition: 200ms;
                width: 100%;
                a {
                    height: 100%;
                    position: absolute;
                    width: 100%;
                }
            }
            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
            .title {
                background: rgba(13, 18, 48, 0.7);
                color: white;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                transition: 400ms;
                width: 100%;
                .title-wrap {
                    margin: auto 30px 30px;
                    position: absolute;
                    bottom: 0;
                    h4 {
                        display: -webkit-box;
                        font-size: 20px;
                        line-height: 1.2em;
                        /* max-height = line-height (1.2) * lines max number (4) */
                        max-height: 4.8em;
                        overflow: hidden;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                }
            }
            &:hover {
                cursor: pointer;
                .border {
                    z-index: 1;
                }
                .title {
                    background: rgba(13, 18, 48, 0.0);
                    color: transparent;
                }
            }
        }
    }
}
@media screen and (max-width: $mobile-width-header) {
    .image-card-grid {
        .image-grid-column {
            flex: 50%;
            max-width: 50%;
            width: 50%;
        }
    }
}
@media screen and (max-width: $mobile-width-400) {
    .image-card-grid {
        .image-grid-column {
            flex: 100%;
            max-width: 100%;
            width: 100%;
        }
    }
}
