.pagination-container {
  display: flex;
  align-items: center;

  .page-select {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
	  color: rgba($base-dark, .3);
	  font-size: 14px;
	  cursor: pointer;
	  display: inline-block;
	  margin: 0 4px;
	  transition: all .3s;
	  vertical-align: middle;

	  &.active,
	  &:hover {
		color: $base-dark;
	  }
	}
  }

  .pagination-next {
	margin-left: 20px;
	background-color: $base-dark;
  }

  .pagination-prev {
	margin-right: 20px;
  }
}