.explore-results{
    .middlewrap{
        .search-title{
            margin: 0;
        }
        .heading-search{
            margin-top: 60px;
        }
    }
}

div.searched-term {
    background-color: rgba(13,18,48,0.8);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    box-sizing: border-box;
    display: inline-block;
    margin: 6px;
    padding: 10px;
    img {
        cursor: pointer;
        margin-left: 5px;
    }
}

.search-results {
    margin: 0;
    max-width: 100%;
    padding: 0;
    padding-right: 30px;
    position: relative;
    transition: 200ms;
    overflow: hidden;
    display: flex;
    justify-content: space-between;

    .filter-menu {
        background-color: #FBF9F5;
        color: $base-dark;
        box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
        box-sizing: border-box;
        height: auto;
        overflow: auto;
        margin-left: -270px;
        padding: 50px 30px;
        transition: 200ms;
        width: 310px;
        min-width: 220px;
        z-index: 3;
        margin-right: 30px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            h2 {
                font-size: 20px;
                padding: 10px 0 30px;
            }

            li.cat-cat{
                cursor: pointer;
                font-size: 16px;
                letter-spacing: 1.75px;
                padding: 0 0 10px;
                position: relative;
                text-transform: uppercase;
                transition: 200ms;
                z-index: 0;
                color: $base-dark;
                opacity: .7;
            }
            ul#mainmenu{
                margin-bottom: 50px;
            }
            li.filter-cat {
                cursor: pointer;
                color: $base-dark;
                font-size: 16px;
                padding: 15px 0;
                position: relative;
                transition: 200ms;
                z-index: 0;
                border-bottom: 2px solid rgba(14,50,50,0.1);

                span.align-right{
                    margin-left: 5px;
                    img{
                        transform: rotate(90deg);
                        margin-left: 10px;
                    }

                    // &.show{
                    //     img{
                    //         transform: rotate(-90deg);
                    //     }
                    // }
                }

                &.hidden{
                    padding-top: 0;
                }

                ul#submenu {
                    display: none;
                    font-size: 16px;
                    padding: 20px 0 0;
                    li {
                        label {
                            cursor: pointer;
                            display: block;
                            position: relative;
                            padding-left: 28px;
                            padding-bottom: 15px;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            input {
                                cursor: pointer;
                                position: absolute;
                                opacity: 0;
                            }
                            p {
                                font-size: 14px;
                                padding-top: 1px;
                                color: $base-dark;

                                em {
                                    font-style: normal;
                                }
                            }
                            span {
                                border: 1.5px solid #0E3232;
                                border-radius: 2px;
                                background-color: $white;
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 17.5px;
                                width: 17.5px;
                            }
                        }
                        &:last-child{
                            label{
                                padding-bottom: 10;
                            }
                        }

                        label:hover input ~ span {
                            /* on mouse-over, change background color */
                            background-color: #ccc;
                        }
                        label input:checked ~ span {
                            /* when checked, add background color */
                            background-color: $accent;
                            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.05);
                            border: 1.5px solid #8F3A2C;
                            background-image: url(../images/check.svg);
                            background-repeat: no-repeat;
                            background-size: 60%;
                            background-position: center;
                        }
                        label input:checked ~ p {
                            /* change label text color when checked */
                            color: $accent;
                        }
                    }
                    li.hide-category{
                        display: none;
                    }
                    .to-field{
                        font-size: 12px;
                        font-family: aleobolditalic;
                        padding-top: 32px;
                        margin: 0 5px 0 5px;
                    }
                    input[type=button]{
                        background-color: #0E3232;
                        color: white;
                        margin-left: 5px;
                        margin-top: 22px;
                        border: none;
                        border-radius: 4px;
                        width: 40px;
                        height: 30px;
                        cursor: pointer;
                    }
                    .inputwrap{
                        margin-bottom: 4%;
                        position: relative;
                        a {
                          outline: none;
                        }
                        input{
                            display: block;
                            color: #0E3232;
                            font-size: 13px;
                            width: 70px;
                            height: 30px;
                            border: 2px rgba(14,50,50,0.6) solid;
                            border-radius: 5px;
                            margin-top: 5px;
                            padding-left: 5px;
                            &:hover{
                                border: 2px solid $sub-base;
                            }
                            &:focus{
                                outline:none;
                            }
                        }
                        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: #0E3232;
                            opacity: .8; /* Firefox */
                            font-family: aleobolditalic;
                            padding-left: 5px;
                        }

                        :-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color: #0E3232;
                            opacity: .8;
                            font-family: aleobolditalic;
                            padding-left: 5px;
                        }

                        ::-ms-input-placeholder { /* Microsoft Edge */
                            color: #0E3232;
                            opacity: .8;
                            font-family: aleobolditalic;
                            padding-left: 5px;
                        }
                        label{
                            color: $base-dark;
                            font-size: 13px;
                            font-family: aleobolditalic;
                            width: 78px;
                            height: 30px;
                            padding-bottom: 5px;
                        }
                    }
                }
                ul#submenu.show{
                    display: block;
                }
                ul#submenu.showdate{
                    display: flex;
                    justify-content: space-around;
                }
                ul#submenu.hidden{
                    display: none;
                }
            }
        }
    }
}

//Have to use !important here since submenu is an id and has higher priority than this class
ul.catmenu{
    display: block!important;
    padding-bottom: 10px!important;
    li{
        label{
            display: flex!important;
            padding-bottom: 25px!important;
            padding-left: 40px!important;
            align-items: center;
            p{
                font-size: 16px!important;
                margin-left: 10px;
                color: $base-dark!important;
            }
            span {
                margin-top: 5px;
            }
        }
        label input:checked ~ p {
            /* change label text color when checked */
            color: $base-dark!important;
        }
    }
}
.filter-menu.show {
    margin-left: 0;
}

#searchResults {
    position: relative;
    transition: 200ms;
    vertical-align: top;
    max-width: 1000px;
    min-width: 300px;
    margin: 0px auto;

    .showing-results{
        color: $base-dark;
        font-size: 32px;
        margin: 45px 0 0;
    }
	#search-result-controls {
        font-size: 14px;
		padding: 45px 0 20px;
		position: relative;
        // text-align: center;
        width:100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: $base-dark;

        .show-filter,.view-modes,.sorting-dropdowns{
            padding: 10px 15px 10px 0px;
        }

        span.show-filter{
            cursor: pointer;
            img {
                margin-right: 5px;
            }
        }

        span.view-modes{
            display: flex;
            justify-content: space-between;

            .grid-view{
                margin-right: 15px;
            }

            span.view-toggle {
                position: relative;

                img{
                    height: 19px;
                    cursor: pointer;
                    opacity: .25;
                    transition: all .3s;

                    &:hover{
                        opacity: .8;
                    }
                }
            }
            span.view-toggle p.tooltip {
                background: $base-dark;
                box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                color: $base-light;
                display: none;
                font-size: 12px;
                white-space: nowrap;
                position: absolute;
                padding: 10px;
                bottom: 32px;
                right: -25px;
                border-radius: 5px;
            }
            span.table-view p.tooltip {
                right: -30px;
            }
            span.view-toggle p.tooltip.hovered {
                display: block;
                // border-style: solid;
                // border-color: $sub-base;
                // border-width: 2px;
                z-index: 999;
            }
            span.view-toggle img.show {
                opacity: 1;
            }
        }

        span.sorting-dropdowns{

            span{
                position: relative;
            }
            span.results-per-page{
                margin-left: 20px;
            }
            ul {
                background: $base-dark;
                box-shadow: 0 5px 25px 0 rgba(44,44,44,0.3);
                color: $base-light;
                border-radius: 5px;
                display: none;
                list-style: none;
                padding: 10px 15px;
                position: absolute;
                right: -4px;
                width: max-content;
                z-index: 1;
                text-align: center;
                min-width: 100px;
                li {
                    cursor: pointer;
                    font-size: 12px;
                    padding: 5px 0 5px;
                    transition: all .3s;
                }
                li:hover {
                    color: $sub-base;
                }
            }
            ul.show {
                display: block;
            }
            span {
                img {
                    margin-left: 5px;
                    transform: rotate(90deg);
                }
            }
        }
        .sorting-dropdowns {
            cursor: pointer;
            img {
                transition: 200ms;
            }
            img.show {
                transform: rotate(-90deg);
            }
        }
    }

    div.filter-cards{
        width: 100%;
        display: flex;
        margin-bottom: 30px;

        .option-wrap{
            width: fit-content;
            border: 1.5px solid rgba(14,50,50,0.1);
            border-radius: 5px;
            background-color: #FFFFFF;
            box-shadow: 0 3px 5px 0 rgba(44,44,44,0.05);
            padding: 12px 15px;
            display: flex;
            align-items: center;
            margin-right: 10px;

            p{
                color: #0E3232;
                font-family: aleobold;
                font-size: 14px;
            }

            img{
                margin-left: 10px;
                width: 9px;
                height: 9px;
                opacity: .7;
                cursor: pointer;
                transition: all .3s;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }

    div#search-result-wrap {
        position: relative;

        #search-result-table {
            box-shadow: 0 7px 10px 0 rgba(0,0,0,0.05);
            overflow: auto;
            table {
                background-color: rgba(13,18,48,0.05);
                border-collapse:collapse;
                border: 1px solid rgba(13,18,48,0.03);
                border-left: 0;
                font-size: 13px;
                overflow: hidden;
                width: 100%;
                color: $base-dark;
                font-family: aleoregular;
                th {
                    background-color: #FFFDFA;
                    font-weight: 500;
                }
                th, td {
                    border:none;
                    box-sizing: border-box;
                    cursor: pointer;
                    padding: 20px;
                    margin: 0;
                    position: relative;
                }
                thead {
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.01);
                    text-align: left;
                    tr {
                        font-size: 10px;
                        th:first-child {
                            background-color: #FFFDFA;
                            border: 1px solid rgba(13,18,48,0.03);
                            border-right: 0;
                            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.03);
                            box-sizing: border-box;
                            margin-bottom: 0;
                            max-width: 200px;
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 200px;
                        }
                    }
                }
                tbody {
                    overflow: auto;
                    vertical-align: top;
                    color: $base-dark;
                    font-family: aleoregular;
                    background-color: #F2EFE9;
                    tr {
                        border: 2px solid rgba(26, 26, 26, 0.02);
                        td p {
                            display: inline-block;
                            font-size: 12px;
                            max-width: 120px;
                            width: max-content;
                            word-break: break-all;
                        }
                        span.first {
                            display:none;
                            font-family: aleobold;
                        }
                        span.meta {
                            display: inline-block;
                            max-width: 120px;
                            width: max-content;
                        }
                        th:first-child,td:first-child {
                            background-color: #FFFDFA;
                            border: 2px solid rgba(13, 18, 48, 0.03);
                            border-top: 0;
                            border-right: 0;
                            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.03);
                            box-sizing: border-box;
                            margin-bottom: 1px;
                            max-width: 200px;
                            // position: absolute;
                            top: auto;
                            left: 0;
                            width: 200px;
                            word-break: break-all;
                        }
                        th:first-child {
                            border-top: 1px solid rgba(13, 18, 48, 0.03);
                            border-bottom: 1px solid rgba(13, 18, 48, 0.03);
                            top: 0;
                        }
                        td:last-child {
                            display: none;
                        }
                        a {
                            color: $base-dark;
                            font-size:18px;
                            text-decoration: none;
                        }
                        a:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                        &:hover {
                            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.03);
                            td {
                                background-color: rgba(239,151,8,0.08);
                            }
                        }
                    }
                    tr:last-child {
                        td:first-child {
                            border-bottom: 1px solid rgba(13, 18, 48, 0.1);
                        }
                    }
                }
            }
        }
    }
}

.search-record-connections{
    border-bottom: none;
    // padding: 0px 0 70px;
    // width: 90%;
    max-width: 1000px;
    margin: 0 auto;

    h2{
        font-size: 30px;
        color: $base-dark;
    }
    .categories{
        margin-bottom: 15px;

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            padding-top: 10px;
            height: 65px;

            li{
                display: inline;
                cursor: pointer;
                font-size: 16px;
                color: rgb(37, 52, 73);
                opacity: .25;
                padding-bottom: 20px;
                padding-left: 40px;
                margin-right: 45px;
                position: relative;
                transition: opacity .3s;

                &:hover{
                    opacity: 1;
                }
                div{
                    padding-right: 10px;
                    left: 5px;
                    top: -3px;
                    background-repeat: no-repeat;
                    position: absolute;
                }
                .person-image{
                    height: 26px;
                    width: 26px;
                    background-image: url(../images/Person-dark.svg);
                }
                .event-image{
                    height: 25px;
                    width: 25px;
                    background-image: url(../images/Event-dark.svg);
                }
                .place-image{
                    height: 26px;
                    width: 23px;
                    background-image: url(../images/Place-dark.svg);
                }
                .project-image{
                    height: 24px;
                    width: 27px;
                    background-image: url(../images/Project-dark.svg);
                }
                .source-image{
                    height: 25px;
                    width: 22px;
                    background-image: url(../images/Source-dark.svg);
                }
            }
            .selected{
                border-bottom: 2px solid $sub-base;
                opacity: 1;
            }

            hr{
                margin-top: 19px;
                border: none;
                border-bottom: 2px solid #E4DED5;
                width: 100%;
                min-width: 740px;
            }
        }
    }

    .connection-cards{

        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
            margin: 32px 0 30px;
            padding: 0;

            li.card{
                cursor: pointer;
                width: 49%;
                height: 270px;
                margin-right: 2%;
                margin-bottom: 15px;
                box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
                border-radius: 5px;
                border: 2px solid transparent;
                background-color: $white;
                transition: all .3s;
                position: relative;
                padding: 20px;

                &:nth-child(2n){
                    margin-right: 0;
                }
                a{
                    text-decoration: none;
                }


                &:hover{
                    border: 2px solid $accent;
                    box-shadow: 0 12px 13px 0 rgba(44,44,44,0.1);
                }

                .card-title{
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    img{
                        margin-right: 15px;
                    }

                    h3{
                        color: $base-dark;
                        font-size: 24px;
                        margin-right: 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                }
                .details{
                    display: flex;
                    flex-wrap: wrap;
                    // justify-content: space-between;

                    .detail{
                        margin-right: 25px;
                        margin-bottom: 20px;

                        p{
                            color: $base-dark;
                            font-size: 14px;
                            font-family: aleoregular;
                        }
                        .detail-title{
                            font-style: italic;
                            font-family: aleobold;
                        }
                    }
                }
                .connectionswrap{
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding-bottom: 5px;

                    .connections{
                        min-height: 40px;
                        max-width: 100%;
                        padding: 0 20px;
                        display: flex;
                        justify-content: start;

                        .card-icons{
                            position: relative;
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            margin-right: 25px;

                            &:hover{
                                .connection-menu{
                                    display: block;
                                }
                            }

                            img{
                                margin-right: 10px;
                                height: 22px;
                                opacity: .8;
                            }
                            span{
                                font-size: 14px;
                                color: $base-dark;
                                opacity: .8;
                            }
                            .connection-menu{
                                display: none;
                                background: $base-dark;
                                box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                                color: $base-light;
                                font-size: 12px;
                                white-space: nowrap;
                                position: absolute;
                                padding: 20px;
                                bottom: 40px;
                                right: -90px;
                                width: 220px;
                                z-index: 10;

                                &.hovered{
                                    display: block;
                                }

                                h1{
                                    font-size: 18px;
                                    margin-bottom: 10px;
                                }
                                ul{
                                    padding: 0;
                                    li{
                                        width: unset;
                                        display: list-item;
                                        margin: 0;
                                        padding: 0;
                                        border: none;
                                        box-shadow: none;
                                        list-style-type: none;
                                        cursor: pointer;
                                        font-size: 13px;
                                        transition: .2s;
                                        line-height: 16px;
                                        padding: 5px 0;
                                        word-wrap: break-word;
                                        white-space: normal;

                                        #arrow{
                                            color: $base-light;
                                            background-image: url(../images/Arrow.svg);
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            width: 10px;
                                            height: 6px;
                                            transform: rotate(-90deg);
                                            float: right;
                                            margin: 5px 0 0 10px;
                                            transition: color .2s;
                                        }

                                        &:hover{
                                            color: $sub-base;
                                            #arrow{
                                                background-image: url(../images/Arrow_colored.svg);
                                            }
                                        }

                                        span{
                                            opacity: .6;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            span.align-left {
                // position: absolute;
                // left: 2%;
                font-style: italic;
                border-bottom: 2px solid $sub-base;
            }

            span.align-left:hover{
                border-bottom: 3px solid $accent;
                padding-bottom: 2px;
                transition: .1s;
            }

            span.align-right {
                // position: absolute;
                // right: 2%;
                margin-left: auto;
                transition: 200ms;
                #Download_selected, #Download_all{
                    cursor: pointer;
                    font-style: italic;
                    margin-left: 15px;
                    border-bottom: 2px solid $sub-base;
                }
                #Download_selected:hover, #Download_all:hover{
                    cursor: pointer;
                    border-bottom: 3px solid $accent;
                    padding-bottom: 2px;
                    transition: .1s;
                }
                b{
                    font-size: 12px;
                }
            }

            span.align-right.show {
                transform: rotate(180deg);
            }
        }
    }
    .load-more, .search-all{
        margin: 0 auto;
        max-width: 140px;
        h4{
            cursor: pointer;
            color: #122E46;
            font-size: 18px;
            text-align: center;
            margin-top: 55px;
            transition: color .3s;

            &:hover{
                color: $sub-base;
            }
        }
    }
    .search-all{
        color: $base-dark;
        text-decoration: none;
        font-size: 16px;
        font-style: italic;
        line-height: 18px;
        border-bottom: 3px solid $accent;
    }
    .loaded{
        display: none;
    }
}

.show-menu{
    display: none;
}

.result-column{
    height: auto;
    padding: 0;
    width: 100%;

    .cardwrap{
        margin: 0 auto;

        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
            padding: 0;

            li.card{
                cursor: pointer;
                width: 48.8%;
                box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
                border-radius: 5px;
                border: 2px solid transparent;
                background-color: $white;
                transition: all .3s;
                padding: 20px;
                margin-bottom: 20px; //card placement for this and 2 child stylings
                position: relative;

                a{
                    text-decoration: none;
                }


                &:hover{
                    border: 2px solid $accent;
                    box-shadow: 0 12px 13px 0 rgba(44,44,44,0.1);
                }

                .card-title{
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    img{
                        margin-right: 15px;
                    }

                    h3{
                        color: $base-dark;
                        font-size: 24px;
                        margin-right: 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                }

                .details{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 70px;
                    // justify-content: space-between;

                    .detail{
                        margin-right: 25px;
                        margin-bottom: 20px;

                        p{
                            color: $base-dark;
                            font-size: 14px;
                            font-family: aleoregular;
                        }
                        .detail-title{
                            font-style: italic;
                            font-family: aleobold;
                        }
                        .multiple{
                            color: $sub-base;
                            font-family: aleobold;
                            position: relative;

                            .tooltip{
                                visibility: hidden;
                                width: 280px;
                                background-color: $base-dark;
                                color: $base-light;
                                padding: 15px;
                                border-radius: 5px;
                                font-size: 14px;
                                font-family: aleo;

                                /* Position the tooltip */
                                position: absolute;
                                z-index: 100;
                                bottom: 130%;
                                left: 50%;
                                margin-left: -155px;

                                .head{
                                    font-size: 15px;
                                    font-style: italic;
                                    font-family: aleobold;
                                    display: block;
                                    padding-bottom: 5px;
                                }
                            }
                            .tooltip::after {
                                content: " ";
                                position: absolute;
                                top: 100%; /* At the bottom of the tooltip */
                                left: 50%;
                                margin-left: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: $base-dark transparent transparent transparent;
                            }

                            &:hover{

                                .tooltip{
                                    visibility: visible;
                                }
                            }
                        }
                    }
                }
                .connectionswrap{
                    width: 100%;
                    position: absolute;
                    bottom: 10px;

                    p{
                        color: $base-dark;
                        font-size: 14px;
                        font-style: italic;
                        margin-bottom: 5px;
                    }

                    .connections{
                        min-height: 40px;
                        max-width: 100%;
                        display: flex;
                        justify-content: start;

                        .card-icons{
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            margin-right: 25px;

                            &:hover{
                                .connection-menu{
                                    // display: block;
                                    display: none;
                                }
                            }

                            img{
                                margin-right: 10px;
                                height: 22px;
                                opacity: .8;
                            }
                            span{
                                font-size: 14px;
                                color: $base-dark;
                                opacity: .8;
                            }
                            .connection-menu{
                                display: none;
                                background: $base-dark;
                                box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                                color: $base-light;
                                font-size: 12px;
                                white-space: nowrap;
                                position: absolute;
                                padding: 20px;
                                width: 220px;
                                z-index: 10;

                                &.hovered{
                                    display: block;
                                }

                                h1{
                                    font-size: 18px;
                                    margin-bottom: 10px;
                                }
                                ul{
                                    padding: 0;
                                    li{
                                        width: unset;
                                        display: list-item;
                                        margin: 0;
                                        padding: 0;
                                        border: none;
                                        box-shadow: none;
                                        list-style-type: none;
                                        cursor: pointer;
                                        font-size: 13px;
                                        transition: .2s;
                                        line-height: 16px;
                                        padding: 5px 0;
                                        word-wrap: break-word;
                                        white-space: normal;

                                        #arrow{
                                            color: $base-light;
                                            background-image: url(../images/Arrow.svg);
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            width: 10px;
                                            height: 6px;
                                            transform: rotate(-90deg);
                                            float: right;
                                            margin: 5px 0 0 10px;
                                            transition: color .2s;
                                        }

                                        &:hover{
                                            color: $sub-base;
                                            #arrow{
                                                background-image: url(../images/Arrow_colored.svg);
                                            }
                                        }

                                        span{
                                            opacity: .6;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    .result-column{
        .cardwrap{
            ul.cards{
                li.card{
                    width: 100%;
                }
            }
        }
    }
}

.modal-view {
    display: none;
    height: 100%;
    transition: 200ms;
    width: 100%;
    text-align: left;
    .config-table-modal {
        background: $base-light;
        box-shadow: 0 25px 33px 0 rgba(0,0,0,0.05);
        border-radius: 7px;
        color: $base-dark;
        font-family: aleoregular;
        margin: 100% auto;
        margin-bottom: 0;
        max-height: 625px;
        overflow-y: auto;
        transition: 200ms;
        width: 70%;
        height: 80%;
        div.config-table-modal-content-wrap {
            background: #FAF7F2;
            font-size: 14px;
            height: unset;
            position: relative;
            padding: 45px;
            padding-bottom: 0;
            margin: 0;
            width: unset;
            div.close {
                background: $base-dark;
                border-radius: 5px;
                box-shadow: 0 4px 16px 0 rgba(0,0,0,0.05);
                cursor: pointer;
                padding: 15px;
                position: absolute;
                top: 45px;
                right: 45px;
                height: unset;
                width: unset;
            }
            h4 {
                font-size: 30px;
                margin-bottom: 20px;
                font-family: EB Garamond;
                font-weight: Bold;
                text-align: left;
            }
            p {
                background: $base-light;
                font-size: 15px;
                text-align: left;
                padding-bottom: 10px;
                font-family: aleobold;
                select {
                    background: #FFFFFF url(../images/directory_chevron.svg) no-repeat;
                    background-size: 4%;
                    background-position: 95%;
                    outline: none;
                    border: 0px solid rgba(13,18,48,0.15);
                    border-radius: 4px;
                    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
                    font-family: aleoregular;
                    cursor: pointer;
                    display: block;
                    margin: 5px 15px 15px 0;
                    padding: 15px 10px;
                    transition: 200ms;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    width: 43%;
                    :focus {
                        outline: none;
                    }
                }
            }
            div {
                display: flex;
                font-size: 14px;
                height: 50%;
                justify-content: space-between;
                margin: 0;
                transition: 200ms;
                width: unset;
                div {
                    background: #FFFFFF;
                    display:inline-block;
                    margin-top:5px;
                    vertical-align:top;
                    width:43%;
                    height: 80%;
                    div {
                        background: #FFFFFF;
                        border: 0px solid rgba(13,18,48,0.15);
                        box-sizing: border-box;
                        margin-top: 0;
                        overflow-y: auto;
                        width: 100%;
                        height: 100%;
                        ul {
                            list-style: none;
                            margin: 10px 10px;
                            padding-left: 0;
                            li {
                                cursor: pointer;
                                transition: 400ms;
                                padding: 5px;
                                padding-left: 10px;
                                color: $base-dark;
                                text-align: left;
                            }
                            li:hover {
                                background-color: rgba($base-dark,.06);
                            }
                        }
                    }
                }
                div.left-col {
                    margin-right: 10px;
                    div {
                        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.09);
                        border-radius: 4px;
                    }
                }
                div.right-col {
                    margin-left: 10px;
                    div {
                        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.09);
                        border-radius: 4px;
                        position: relative;
                        ul#selected-cols {
                            width: 70%;
                        }
                        img {
                            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.03);
                            cursor: pointer;
                            border: 1px solid rgba(13,18,48,0.15);
                            border-radius: 5px;
                            padding: 14px;
                            position: absolute;
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transition: 400ms;
                            height: 40px;
                            width: 40px;
                            transform: rotate(90deg);
                        }
                        img:last-child {
                            top: 25%;
                            transform: rotate(-90deg);
                            margin-bottom: 10px;

                        }
                        img:hover {
                            background-color: #FFFFFF;
                            border: 1px solid #2F325F;
                            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.03);
                        }
                    }
                }
                div.arrow-wrap {
                    background: $base-light;
                    width: 10%;
                    margin-top: 120px;
                    height: min-content;
                    img {
                        border: 1px solid rgba(13,18,48,0.15);
                        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.03);
                        border-radius: 5px;
                        cursor: pointer;
                        display: block;
                        margin: auto;
                        padding: 14px;
                        transition: 400ms;
                        height: 40px;
                        width: 40px;
                        background: white;
                    }
                    img:first-child {
                        margin-bottom: 5px;
                        // transform: rotate(-90deg)
                    }
                    img:last-child {
                        transform: rotate(180deg)
                    }
                    img:hover {
                        background-color: #FFFFFF;
                        border: 1px solid #2F325F;
                        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.03);
                    }
                }
            }
            div.update-columns-button {
                background: #C24F3C;;
                box-shadow: 0 2px 3px 0 rgba(30,30,30,0.05);
                color: $base-light;
                cursor: pointer;
                font-family: aleobold;
                font-size: 16px;
                float: right;
                height: unset;
                margin-top: 15px;
                margin-bottom: 20px;
                padding: 15px 35px;
                border-radius: 4px;
            }
            div.close:hover,
            div.update-columns-button:hover {
                opacity: .75;
            }
        }
    }
}
@media screen and (min-width: 1330px) {
    #search-result-wrap .column .cardwrap .row li {
        margin: 10px!important;
        width: 23%!important;
    }
}

@media screen and (max-width: 935px){
    #searchResults div#search-result-wrap #search-result-table {
        table thead tr th:first-child,
        table tbody tr td:first-child {
            width: 145px;
        }
    }
}
// table modal responsiveness
@media screen and (max-width: 860px){
    .modal-view .config-table-modal {
        margin: 100% auto;
        width: 90%;
    }
}
@media screen and (max-width: 920px){
    // main.search-results {
    //     overflow: auto;
    // }
    #searchResults #search-result-table.grid {
        margin: 0 auto;
        width: 750px;
    }

    #searchResults.show #search-result-table.grid {
        width: 500px;
    }
}

@media screen and (max-width: 770px){
    #searchResults #search-result-table.grid {
        width: auto;

        table.grid tbody.grid tr.grid {
            display: block;
            margin: 10px auto;
            width: 95%;
        }
    }
}
// table modal
@media screen and (max-width: 680px){
    .modal-view .config-table-modal div.config-table-modal-content-wrap p select {
        width: 100%;
    }
}
@media screen and (max-width: 620px) {
    #searchResults div#search-result-wrap #search-result-table {
        table thead tr th:first-child,
        table tbody tr td:first-child {
            width: 135px;
        }
    }

    // table modal
    .modal-view .config-table-modal {
        height: 90%;
        div.config-table-modal-content-wrap {
            padding: 35px 45px;
            div.close {
                top: 25px;
                right: 25px;
            }
            div {
                flex-wrap: wrap;
                height: unset;
                div {
                    display: block;
                    width: 100%;
                    height: 20%;
                }
                div.left-col {
                    margin: 0;
                }
                div.arrow-wrap {
                    margin: 30px 0 0;
                    transform: rotate(-90deg);
                    width: 100%;
                    img:first-child {
                        transform: rotate(90deg);
                    }
                    img:last-child {
                        transform: rotate(-90deg);
                    }
                }
                div.right-col {
                    margin: 0;
                    div img:last-child {
                        margin-top: -10px;
                    }
                }
            }
            div.update-columns-button {
                margin-top: 70px;
                margin-bottom: 30px;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    #searchResults {
        .showing-results{
            font-size: 5.5vw;
        }
        #search-result-configure-download-row {
            padding: 40px 5% 65px;
            .align-right {
                right: unset;
                left: 0;
                bottom: 20px;
                color: $base-dark;
            }
        }
    }
}
@media screen and (max-width: 415px) {
    .modal-view div.config-table-modal .config-table-modal-content-wrap div.update-columns-button {
        padding: 15px 25px;
    }
}
@media screen and (max-width: $mobile-width-400){
    /* currently, this var = 400px */
    .search-button-header{
        margin-bottom: 0;
        display: none;
    }
}
// @media screen and (max-width: 395px) {
//     .modal-view div.config-table-modal .config-table-modal-content-wrap div.update-columns-button {
//         font-size: 14px;
//         white-space: nowrap;
//     }
// }

@media screen and (max-width: 615px) {
    .show-menu{
        cursor: pointer;
        display: inline;
        p {
            display: inline;
            font-family: aleobold;
            font-size: 13px;
            margin: auto;
            &:hover{
                color: $sub-base;
            }
        }
    }
    .search-record-connections{
        .connectionwrap{
            .connection-cards{
                display: none;
            }
        }
    }

    .search-results{
        padding-right: 0px;
        #searchResults{
            margin: 0px 10%;
        }
    }
}

@media screen and (min-height: 785px) {
    .modal-view .config-table-modal {
        overflow-y: hidden;
    }
}
