div.searched-term {
    background-color: rgba(13,18,48,0.8);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    box-sizing: border-box;
    display: inline-block;
    margin: 6px;
    padding: 10px;
    img {
        cursor: pointer;
        margin-left: 5px;
    }
}

.search-results {
    margin: 0;
    max-width: 100%;
    padding: 0;
    position: relative;
    transition: 200ms;
    overflow: hidden;

    .filter-menu {
        background-color: #FBF9F5;
        border: 1px solid #E5E0D9;
        color: $base-dark;
        box-shadow: 0 10px 15px 0 rgba(0,0,0,0.05);
        box-sizing: border-box;
        height: calc(100% - 40px);
        overflow: auto;
        position: absolute;
        top: 40px;
        left: -270px;
        bottom: 0;
        padding: 20px;
        padding-left: 40px;
        padding-right: 30px;
        transition: 200ms;
        width: 265px;
        z-index: 3;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            h3 {
                font-size: 20px;
                padding: 10px 0 30px;
            }
            hr {
                box-sizing: border-box;
                border: none;
                height: 1px;
                background-color: #E5E0D9;
                margin: 0;
                margin-left: -42px;
                width: 123%;
            }

            li.cat-cat{
                cursor: pointer;
                font-size: 20px;
                padding: 35px 0 20px;
                position: relative;
                transition: 200ms;
                z-index: 0;
                span.align-right{
                    margin-top: 6px;
                    img {
                        height: 10px;
                    }
                }
            }
            li.filter-cat {
                cursor: pointer;
                font-size: 16px;
                padding: 15px 0;
                position: relative;
                transition: 200ms;
                z-index: 0;
                border-top: 1px solid #E5E0D9;
                span img {
                    margin-bottom: 2px;
                }
                &:first-child{
                    border-top: none;
                }
            }
        }
    }
}

//Have to use !important here since submenu is an id and has higher priority than this class
ul.catmenu{
    display: block!important;
    padding-bottom: 10px!important;
    li{
        label{
            display: flex!important;
            padding-bottom: 25px!important;
            padding-left: 40px!important;
            align-items: center;
            p{
                font-size: 16px!important;
                margin-left: 10px;
                color: $base-dark!important;
            }
            span {
                margin-top: 5px;
            }
        }
        label input:checked ~ p {
            /* change label text color when checked */
            color: $base-dark!important;
        }
    }
}

ul#mainmenu{
    display: none;
    font-size: 16px;
    margin-bottom: 20px;
}
ul#mainmenu.show{
    display: block;
}

ul#submenu {
    display: none;
    font-size: 16px;
    li {
        label {
            cursor: pointer;
            display: block;
            position: relative;
            padding-left: 28px;
            padding-bottom: 20px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input {
                cursor: pointer;
                position: absolute;
                opacity: 0;
            }
            p {
                font-size: 13px;
                font-weight: 300;
                padding-top: 2px;
                color: #4A4A4A;
                
                em {
                    font-style: normal;
                }
            }
            span {
                border: 1px solid rgba(37,52,73,0.7);
                position: absolute;
                top: 0;
                left: 0;
                height: 14px;
                width: 14px;
            }
        }
        label:hover input ~ span {
            /* on mouse-over, change background color */
            background-color: #ccc;
        }
        label input:checked ~ span {
            /* when checked, add background color */
            background-color: $sub-base;
            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
            border: 1px solid rgba(37,52,73,0);
            background-image: url(../images/check.svg);
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
        }
        label input:checked ~ p {
            /* change label text color when checked */
            color: $sub-base;
            font-weight: 500;
        }
    }
}
ul#submenu.show{
    display: block;
}
.filter-menu.show {
    left: 0;
}	
span.align-left {
    position: absolute;
    left: 0;
}
span.align-right {
    position: absolute;
    right: 0;
    transition: 200ms;
}
span.align-right.show {
    transform: rotate(180deg);
}


#searchResults {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transition: 200ms;
    vertical-align: top;
    max-width: 1000px;
    .showing-results{
        color: $base-dark;
        font-size: 32px;
        margin: 45px auto 0;
        max-width: 1000px;
    }
	#search-result-controls {
        font-size: 14px;
		padding: 45px 0 10px;
		position: relative;
        // text-align: center;
        width:100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: $base-dark;

        .show-filter,.view-modes,.sorting-dropdowns{
            padding: 10px 15px;
            margin-bottom: 20px;
        }

        span.show-filter{
            cursor: pointer;
            img {
                margin-right: 5px;
            }
        }

        span.view-modes{
            width: 130px;
            display: flex;
            justify-content: space-between;

            span.view-toggle {
                position: relative;

                img{
                    height: 19px;
                    cursor: pointer;
                    opacity: .25;

                    &:hover{
                        opacity: .8;
                    }
                }
            }
            span.view-toggle p.tooltip {
                background: $base-dark;
                box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                color: $base-light;
                display: none;
                font-size: 12px;
                white-space: nowrap;
                position: absolute;
                padding: 10px;
                bottom: 32px;
                right: -25px;
            }
            span.table-view p.tooltip {
                right: -30px;
            }
            span.view-toggle p.tooltip.hovered {
                display: block;
            }
            span.view-toggle img.show {
                opacity: 1;
            }
        }

        span.sorting-dropdowns{

            span{
                position: relative;
            }
            span.results-per-page{
                margin-left: 20px;
            }
            ul {
                background: $base-dark;
                box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                color: $base-light;
                display: none;
                list-style: none;
                padding: 20px;
                position: absolute;
                right: 0;
                width: max-content;
                z-index: 1;
                li {
                    cursor: pointer;
                    font-size: 12px;
                    line-height: 15px;
                    padding: 5px 3px;
                }
                li:hover {
                    color: $sub-base;
                }
            }
            ul.show {
                display: block;
            }
            span {
                img {
                    height: 7px;
                    margin-left: 5px;              
                }
            }
        }
        .sorting-dropdowns {
            cursor: pointer;
            img {
                transition: 200ms;                
            }
            img.show {
                transform: rotate(-180deg);
            }
        }
    }
    
    #search-result-configure-download-row {
        font-size: 12px;
        padding: 25px 5% 50px;
        position: relative;
        width: 90%;
        span {
            cursor: pointer;
        }
        .align-left {
            .modal {
                transition: 200ms;
            }
            .modal:hover {
                color: $sub-base;
            }
        }
        .align-right,.align-left {
            color: $base-dark;
            b {
                cursor: default;
            }
            span:hover {
                color: $sub-base;
            }
        }
    }
    div#search-result-wrap {
        position: relative;
        
        #search-result-table {
            box-shadow: 0 7px 10px 0 rgba(0,0,0,0.05);
            margin-left: 200px;
            overflow: auto;
            table {
                background-color: rgba(13,18,48,0.05);
                border-collapse:collapse;
                border: 1px solid rgba(13,18,48,0.03);
                border-left: 0;
                font-size: 13px;
                overflow: hidden;
                width: 100%;
                color: $base-dark;
                font-family: aleoregular;
                th {
                    background-color: #FFFDFA;
                    font-weight: 500;
                }
                th, td {
                    border:none;
                    box-sizing: border-box;
                    cursor: pointer;
                    padding: 20px;
                    margin: 0;
                }
                thead {
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.01);
                    text-align: left;
                    tr {
                        font-size: 10px;
                        th:first-child {
                            background-color: #FFFDFA;
                            border: 1px solid rgba(13,18,48,0.03);
                            border-right: 0;
                            box-shadow: 0 3px 5px 0 rgba(0,0,0,0.03);
                            box-sizing: border-box;
                            margin-bottom: 0;
                            max-width: 200px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 200px;
                        }
                    }
                }
                tbody {
                    overflow: auto;
                    vertical-align: top;
                    color: $base-dark;
                    font-family: aleoregular;
                    background-color: #F2EFE9;
                    tr {
                        border: 2px solid rgba(26, 26, 26, 0.02);
                        td p {
                            display: inline-block;
                            font-size: 13px;
                            max-width: 120px;
                            width: max-content;
                            word-break: break-all;
                        }
                        span.first {
                            display:none;
                            font-family: aleobold;
                        }
                        span.meta {
                            display: inline-block;
                            max-width: 120px;
                            width: max-content;
                        }
                        th:first-child,td:first-child {
                            background-color: #FFFDFA;
                            border: 2px solid rgba(13, 18, 48, 0.03);
                            border-top: 0;
                            border-right: 0;
                            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.03);
                            box-sizing: border-box;
                            margin-bottom: 1px;
                            max-width: 200px;
                            position: absolute;
                            top: auto;
                            left: 0;
                            width: 200px;
                            word-break: break-all;
                        }
                        th:first-child {
                            border-top: 1px solid rgba(13, 18, 48, 0.03);
                            border-bottom: 1px solid rgba(13, 18, 48, 0.03);
                            top: 0;
                        }
                        td:last-child {
                            display: none;
                        }
                        a {
                            color: $base-dark;
                            font-size:18px;
                            text-decoration: none;
                        }
                        a:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                        &:hover {
                            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.03);
                            td {
                                background-color: rgba(239,151,8,0.08);
                            }
                        }
                    }
                    tr:last-child {
                        td:first-child {
                            border-bottom: 1px solid rgba(13, 18, 48, 0.1);
                        }
                    }
                }
            }
        }
    }
}

.result-column{
    height: auto;
    padding: 0;
    width: 100%;

    .cardwrap{
        margin: 0 auto;
        max-width: 1000px;

        .row{
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
            margin: 32px 0 0 0;
            padding: 0;

            li{
                width: 49%;
                margin-bottom: 20px; //card placement for this and 2 child stylings
                padding: 0;
                // display: flex;
                border: 1px solid #E5E0D9;
                box-shadow: 0 22px 55px 0 rgba(0,0,0,0.03);
                cursor: pointer;
                transition: .3s;

                .card-image{
                    // width: 190px;
                    background-image: url(../images/PersonCard.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    // flex-shrink: 0;
                    position: relative;
                    padding: 20px;
                    p{
                        color: #EEEBE7;
                        font-size: 22px;
                    }
                    img{
                        position: absolute;
                        bottom: 20px;
                        // left: 20px;
                        right: 20px;
                    }
                }

                .cards{
                    color: $base-dark;
                    cursor: pointer;
                    //height: 180px;
                    padding: 20px;
                    position: relative;
                    // width: calc(100% - 270px);
                    // overflow: hidden;

                    .card-info{
                        display: flex;
                        flex-wrap: wrap;
                        height: 150px;
                        margin: -10px;
                        width: 100%;
                        overflow: hidden;
                        p{
                            display: -webkit-box;
                            font-size: 14px;
                            // margin-bottom: 20px;
                            // padding-right: 32px;
                            flex: 1 1 40%;
                            margin: 10px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 1;
                            // -webkit-box-orient: vertical;
                            span{
                                font-family: aleobold;
                            }
                        }
                    }
                
                    .connections{
                        min-height: 30px;
                        max-width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 15px;
                        // overflow: auto;
                        .card-icons{
                            position: relative;
                            line-height: 30px;
                            display: flex;
                            font-size: 12px;
                            padding: 0 10px;

                            img{
                                padding-right: 6px;
                                height: 22px;
                                padding-top: 3px;
                            }
                            span{

                            }
                            .connection-menu{
                                display: none;
                                background: $base-dark;
                                box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                                color: $base-light;
                                font-size: 12px;
                                white-space: nowrap;
                                position: absolute;
                                padding: 20px;
                                bottom: 40px;
                                right: -80px;
                                width: 200px;
                                // height: 20px;
                                z-index: 10;
    
                                &.hovered{
                                    display: block;
                                }

                                h1{
                                    font-size: 18px;
                                    margin-bottom: 10px;
                                }
                                ul{
                                    padding: 0;
                                    li{
                                        width: unset;
                                        display: list-item;
                                        margin: 0;
                                        padding: 0;
                                        border: none;
                                        box-shadow: none;
                                        list-style-type: none;
                                        cursor: pointer;
                                        font-size: 13px;
                                        transition: .2s;

                                        #arrow{
                                            color: $base-light;
                                            background-image: url(../images/Arrow.svg);
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            width: 10px;
                                            height: 6px;
                                            transform: rotate(-90deg);
                                            float: right;
                                            margin: 10px 0 0 0;
                                            transition: color .2s;
                                        }

                                        &:hover{
                                            color: $sub-base;
                                            #arrow{
                                                background-image: url(../images/Arrow_colored.svg);
                                            }
                                        }
                                    }
                                }
                            }
                            .connection-menu:after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                width: 0;
                                height: 0;
                                border: 10px solid transparent;
                                border-top-color: $base-dark;
                                border-bottom: 0;
                                margin-left: -10px;
                                margin-bottom: -10px;
                            }
                        }
                    }
                }

                &:hover{
                    border: 1px solid $sub-base;
                    box-shadow: 0 22px 55px 0 rgba(0,0,0,0.1);
                    .cards{

                        .card-view-story{
                            color: $sub-base;

                            .view-arrow{
                                background-image: url(../images/Arrow_colored.svg);
                            }
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1050px){
    .result-column{
        .cardwrap{
            .row{
                li{
                    width: 100%;
                    display: flex;
                    .card-image{
                        width: 190px;
                        img{
                            left: 20px;
                            right: 0px;
                        }
                    }
    
                    .cards{
                        width: calc(100% - 270px);
                        .card-info{
                            p{
                            }
                        }
                    
                        .connections{

                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 680px){
    .result-column{
        .cardwrap{
            .row{
                li{
                    width: 100%;
                    display: list-item;
                    .card-image{
                        width: unset;
                        img{
                            left: unset;
                            right: 20px;
                        }
                    }
    
                    .cards{
                        width: unset;
                        .card-info{
                            p{
                            }
                        }
                    
                        .connections{
                            .card-icons{
                                padding: 0;

                                .connection-menu{
                                    right: -90px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 400px){
    .result-column{
        .cardwrap{
            .row{
                li{
                    .cards{
                        .connections{
                            .card-icons{
                                img{
                                    padding-right: 4px;
                                    height: 17px;
                                    padding-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#searchResults.show {
    margin-left: 290px!important;
}
.modal-view {
    display: none;
    height: 100%;
    transition: 200ms;
    width: 100%;
    text-align: left;
    .config-table-modal {
        background: $base-light;
        box-shadow: 0 25px 33px 0 rgba(0,0,0,0.05);
        color: $base-dark;
        font-family: aleoregular;
        margin: 100% auto;
        margin-bottom: 0;
        max-height: 625px;
        overflow-y: auto;
        transition: 200ms;
        width: 70%;
        height: 80%;
        div.config-table-modal-content-wrap {
            font-size: 14px;
            height: unset;
            position: relative;
            padding: 45px;
            padding-bottom: 0;
            margin: 0;
            width: unset;
            div.close {
                background: $base-dark;
                border-radius: 50%;
                box-shadow: 0 4px 16px 0 rgba(0,0,0,0.05);
                cursor: pointer;
                padding: 15px;
                position: absolute;
                top: 45px;
                right: 45px;
                height: unset;
                width: unset;
            }
            h4 {
                font-size: 30px;
                margin-bottom: 20px;
                font-family: aleobold;
            }
            p {
                font-size: 15px;
                text-align: left;
                padding-bottom: 10px;
                select {
                    background: url(../images/Arrow-dark.svg) no-repeat;
                    background-position: 95%;
                    border: 1px solid rgba(13,18,48,0.15);
                    border-radius: 0;
                    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.04);
                    font-family: aleoregular;
                    cursor: pointer;
                    display: block;
                    margin: 5px 15px 15px 0;
                    padding: 15px 10px;
                    transition: 200ms;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    width: 43%;
                    :focus {
                        outline: none;
                    }
                }
            }
            div {
                display: flex;
                font-size: 14px;
                height: 50%;
                justify-content: space-between;
                margin: 0;
                transition: 200ms;
                width: unset;
                div {
                    display:inline-block;
                    margin-top:5px;
                    vertical-align:top;
                    width:43%;
                    height: 80%;
                    div {
                        border: 1px solid rgba(13,18,48,0.15);
                        box-sizing: border-box;
                        margin-top: 0;
                        overflow-y: auto;
                        width: 100%;
                        height: 100%;
                        ul {
                            list-style: none;
                            margin: 10px 10px;
                            padding-left: 0;
                            li {
                                cursor: pointer;
                                transition: 400ms;
                                padding: 5px;
                                padding-left: 10px;
                                color: $base-dark;
                                text-align: left;
                            }
                            li:hover {
                                background-color: rgba($base-dark,.06);
                            }
                        }
                    }
                }
                div.left-col {
                    margin-right: 10px;
                    div {
                        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.04);
                    }
                }
                div.right-col {
                    margin-left: 10px;
                    div {
                        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.04);
                        position: relative;
                        ul#selected-cols {
                            width: 80%;
                        }
                        img {
                            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.03);
                            cursor: pointer;
                            border: 1px solid rgba(13,18,48,0.15);
                            padding: 10px 8px;
                            position: absolute;
                            position: absolute;
                            top: 50%;
                            right: 10px;
                            transition: 400ms;
                            height: 7px;
                        }
                        img:last-child {
                            top: 30%;
                            transform: rotate(180deg);
                        }
                        img:hover {
                            background-color: rgba(13,18,48,0.05);
                            border: 1px solid #2F325F;
                            box-shadow: 0 2px 3px 0 rgba(0,0,0,0.03);
                        }
                    }
                }
                div.arrow-wrap {
                    width: 10%;
                    margin-top: 120px;
                    height: min-content;
                    img {
                        border: 1px solid rgba(13,18,48,0.15);
                        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.03);
                        cursor: pointer;
                        display: block;
                        margin: auto;
                        padding: 10px 8px;
                        transition: 400ms;
                        height: 7px;
                    }
                    img:first-child {
                        margin-bottom: 20px;
                        transform: rotate(-90deg)
                    }
                    img:last-child {
                        transform: rotate(90deg)
                    }
                    img:hover {
                        background-color: rgba(13,18,48,0.05);
                        border: 1px solid #2F325F;
                        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.03);
                    }
                }
            }
            div.update-columns-button {
                background: $base-dark;
                box-shadow: 0 2px 3px 0 rgba(30,30,30,0.05);
                color: $base-light;
                cursor: pointer;
                font-family: aleoregular;
                font-size: 16px;
                float: right;
                height: unset;
                margin-top: 15px;
                padding: 15px 35px;
            }
            div.close:hover,
            div.update-columns-button:hover {
                opacity: .75;
            }
        }
    }
}
@media screen and (min-width: 1330px) {
    #search-result-wrap .column .cardwrap .row li {
        margin: 10px!important;
        width: 23%!important;
    }
}
@media screen and (max-width: 1100px) {
    #searchResults,
    #searchResults.show {
        margin: 0 6%;
    }
    #searchResults {
        #search-result-controls span.table-view p.tooltip {
            right: -10px;
        }
    }
}
@media screen and (max-width: 935px){
    #searchResults div#search-result-wrap #search-result-table {
        margin-left: 145px;
        table thead tr th:first-child,
        table tbody tr td:first-child {
            width: 145px;
        }
    }
}
// table modal responsiveness
@media screen and (max-width: 860px){
    .modal-view .config-table-modal {
        margin: 100% auto;
        width: 90%;
    }
}
@media screen and (max-width: 920px){
    // main.search-results {
    //     overflow: auto;
    // }
    #searchResults #search-result-table.grid {
        margin: 0 auto;
        width: 750px;
    }
    
    #searchResults.show #search-result-table.grid {
        width: 500px;
    }
    .filter-menu.show {
        height: 700px;
        top: 210px;
        left: 0;
    }
    .filter-menu{
        top: 170px!important;
    }
}

@media screen and (max-width: 770px){
    #searchResults #search-result-table.grid {
        width: auto;
            
        table.grid tbody.grid tr.grid {
            display: block;
            margin: 10px auto;
            width: 95%;
        }    
    }
}
// table modal
@media screen and (max-width: 680px){
    .modal-view .config-table-modal div.config-table-modal-content-wrap p select {
        width: 100%;
    }
}
@media screen and (max-width: 620px) {
    #searchResults div#search-result-wrap #search-result-table {
        margin-left: 135px;
        table thead tr th:first-child,
        table tbody tr td:first-child {
            width: 135px;
        }
    }
    
    // table modal
    .modal-view .config-table-modal {
        height: 90%;
        div.config-table-modal-content-wrap {
            padding: 35px 45px;
            div.close {
                top: 25px;
                right: 25px;
            }
            div {
                flex-wrap: wrap;
                height: unset;
                div {
                    display: block;
                    width: 100%;
                    height: 20%;
                }
                div.left-col {
                    margin: 0;
                }
                div.arrow-wrap {
                    margin: 30px 0 0;
                    transform: rotate(-90deg);
                    width: 100%;
                    img:first-child {
                        transform: rotate(90deg);
                    }
                    img:last-child {
                        transform: rotate(-90deg);
                    }
                }
                div.right-col {
                    margin: 0;
                    div img:last-child {
                        margin-top: -10px;
                    }
                }
            }
            div.update-columns-button {
                margin-top: 70px;
                margin-bottom: 30px;
            }
        }
    }
}
@media screen and (max-width: 575px) {
    #searchResults {
        .showing-results{
            font-size: 5.5vw;
        }
        // #search-result-controls {
        //     padding: 30px 5% 60px;
        //     .align-center {
        //         position: absolute;
        //         left: 0;
        //         bottom: -5px;
        //     }
        //     .align-center.sort-by {
        //         margin-left: 110px;
        //     }
        //     .results-per-page.show {
        //         left: -5px;
        //     }
        //     .sort-by.show {
        //         left: 110px;
        //     }
        //     .align-right {
        //         bottom: -5px;
        //     }
        //     ul {
        //         margin: 0;
        //         top: 102px;
        //     }
        // }
        #search-result-configure-download-row {
            padding: 40px 5% 65px;
            .align-right {
                right: unset;
                left: 0;
                bottom: 20px;
                color: $base-dark;
            }
        }
    }
}
@media screen and (max-width: 415px) {
    .modal-view div.config-table-modal .config-table-modal-content-wrap div.update-columns-button {
        padding: 15px 25px;
    }
}
@media screen and (max-width: $mobile-width-400){
    /* currently, this var = 400px */
    .search-button-header{
        margin-bottom: 0;
        display: none;
    }
}
@media screen and (max-width: 395px) {
    .modal-view div.config-table-modal .config-table-modal-content-wrap div.update-columns-button {
        font-size: 14px;
        white-space: nowrap;
    }
}