.info{
    height: auto;
    padding: 60px 0 20px; //add side padding at certain width
    width: 100%;

    .infowrap{
        margin: 0 auto;
        max-width: 1000px;
        padding: 0 6%;

        p{
            color: $base-dark;
            line-height: 32px;
            position: relative;
            text-align: left;
            font-size: 18px;
        }
    }
}

.storycard{
    //padding: 100px 0 0 0;

    .cardheader-wrap{

        .column-header{
            color: $base-dark;
            font-size: 38px;
            float: left;
            margin-right: 58px;
            margin-bottom: 0;
        }
    }

    #all-header{

        .header-search{

            .column-header{
                margin-bottom: 30px;
            }
        }
    }

    .cardwrap{

        .sort-stories{
            position: relative;

            .sort-stories-text{
                font-size: 20px;
                color: $base-dark;
            }

            ul {
                background: $base-light;
                box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                color: $base-dark;
                display: none;
                list-style: none;
                margin: 10px auto 0;
                padding: 20px 40px;
                position: absolute;
                left: -40px;
                z-index: 1;
                li {
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 15px;
                    padding: 5px 3px;
                }
                li:hover {
                    color: $sub-base;
                }

                ul#submenu {
                    margin-bottom: 20px;
                }

            }

            #submenu.show{
                display: block;
            }

            span {
                cursor: pointer;
                img {
                    transition: 400ms;
                    margin-bottom: 3px;
                }
                img.show {
                    transform: rotate(-180deg);
                }
            }
        }

        .row{

            li{

                .cards{

                    p{
                        -webkit-line-clamp: 3;
                    }
                }
            }
        }
    }
}

.pagiwrap{
    margin: 35px auto;
    max-width: 1000px;
    padding: 0 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .sort-pages{
        position: relative;
        padding-right: 20px;
        p{
            margin: 0;
            margin-right: 20px;
            float: left;
            line-height: 50px;
            color: #253449;
            font-size: 14px;
            cursor: pointer;
            img {
                transition: 400ms;
            }
            img.show {
                transform: rotate(-180deg);
            }

            .sort-arrow {
                margin-left: 8px;
                position: relative;
                top: -2px;
            }
        }
        ul {
            background: $base-light;
            box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
            color: $base-dark;
            display: none;
            list-style: none;
            margin: 35px 0 0;
            padding: 20px;
            position: absolute;
            left: 0;
            width: max-content;
            z-index: 1;
            li {
                cursor: pointer;
                font-size: 14px;
                line-height: 15px;
                padding: 5px 3px;
                transition: color 0.3s ease;
            }
            li:hover {
                color: $sub-base;
            }

            ul#submenu {
                margin-bottom: 20px;
            }

        }

        #submenu.show{
            display: block;
        }
    }
}

#pagination {
    margin: 30px auto;
    padding: 30px 5%;
    position: relative;
    text-align: center;
    transition: 400ms;
    width: 240px;
    float: right;

    .align-left,
    .align-right {
        background-color: #FBF9F5;
        transition: all .5s;
        box-shadow: 0 5px 5px 0 rgba(0,0,0,0.03);
        border: 1px solid rgba(158, 154, 149, 0.4);
        display: block;
        cursor: pointer;
        opacity: 1;
        padding: 20px 16px;
        position: absolute;
        bottom: 13px;

        #pagiLeftArrow, #pagiRightArrow{
            height: 7px;
            width: 13px;
            background-image: url(../images/Arrow2.svg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .align-left {
        left: 0;
        #pagiLeftArrow{
            transform: rotate(90deg);
            margin-right: 2px;
        }
    }
    .align-right {
        right: 0;
        #pagiRightArrow{
            transform: rotate(-90deg);
            margin-left: 2px;
        }
    }
    .align-left:hover,
    .align-right:hover {
        box-shadow: 0 2px 3px 0 rgba(0,0,0,0.03);
        background-color: rgba(14, 49, 100, 0.1);
        border: 1px solid rgba(158, 154, 149, 1);
    }

    .page-numbers{
        max-width: 280px;
        margin: 0 auto;
        span.active {
            opacity: 1;
            color: #253449;
        }
        span {
            cursor: pointer;
            font-family: aleoregular!important;
            color: #323232;
            margin: 0 2px;
            font-size: 14px;
            opacity: 0.3;
        }
        span:hover {
            opacity: 1;
        }
    }
}

.search{
    float: right;
    position: relative;

    form{
        position: relative;

        .search-field{
            border: 1px solid #CED0D2;
            border-radius: 100px;
            box-shadow: 0 4px 36px 0 rgba(0,0,0,0.05);
            color: $base-dark;
            font-size: 16px;
            font-family: aleoregular;
            margin: 0;
            outline: none;
            padding-left: 20px;
            padding-right: 60px;
            transition: border 0.3s ease;
            height: 60px;
            width: 380px;

            &:hover{
                border: 1px solid $base-dark;
            }
            &:focus-within{
                    border: 1px solid $base-dark;
            }
            &::placeholder {
                color: rgba($base-dark, .75);
                font-size: 14px;
            }
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #253449;
            opacity: 1; /* Firefox */
            font-style: italic;
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #253449;
            font-style: italic;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: #253449;
            font-style: italic;
        }

        // .search-icon{
        //     cursor: pointer;
        //     height: 60px;
        //     width: 60px;
        //     position: absolute;
        //     right: 0;
        //     top: 0;
        //     background-image: url(../images/Search-dark.svg);
        //     background-repeat: no-repeat;
        //     background-position: 50% 50%;
        // }
    }
}

@media screen and (max-width: 712px){
    .storycard{

        #all-header{
            margin-bottom: 100px;

            .header-search{
                .column-header{
                    float: none;
                }
            }
        }

        .cardheader-wrap{

            .header-search{

                .search{
                    float: none;

                    .search-field{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-max-width){

    .sort-stories{
        ul#submenu{
            margin-left: 6%;
            left: 0;
        }
    }
}

@media screen and (max-width: 880px) {
    #pagination {
        min-width: 320px;
    }
}

@media screen and (max-width: 550px){
    #pagination{
        padding: 20px 7% 80px!important;
        min-width: 220px!important;
        margin: 0 auto;
        width: 86%;
    }
}
