.stories{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/PersonLanding.jpg);

    .middlewrap{
        padding-top: 160px;
        padding-bottom: 50px;
    }
}

.info{
    height: auto;
    padding: 60px 0 20px; //add side padding at certain width
    width: 100%;

    .infowrap{
        margin: 0 auto;
        max-width: 1000px;
        width: 90%;

        p{
            color: $base-dark;
            line-height: 32px;
            position: relative;
            text-align: left;
            font-size: 18px;
        }
    }
}
.card-slider{
    .cards{
         display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: fit-content;
        margin-bottom: 35px;

        li.card {
           cursor: pointer;
            width: 390px;
            height: 270px;
            margin-right: 20px;
            box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
            border-radius: 5px;
            border: 2px solid transparent;
            background-color: $white;
            transition: all .3s;
            padding: 20px;
        }

        li.card-story{
            cursor: pointer;
            width: 390px; //card sizing
            height: 160px;
            margin-right: 20px;
            padding: 20px;
            background-position: center;
            background-size: 106%;
            background-repeat: no-repeat;
            border: 4px solid transparent;
            border-radius: 5px;
            box-shadow: 0 10px 20px 0 rgba(0,0,0,0.15);
            transition: all 0.3s;
            position: relative;

            a{
                color: inherit;
                text-decoration: none;
                position: absolute;
                z-index: 1;
            }

            // &:nth-child(2n-1){
            //     background-image: url(../images/Rectangle7Copy.jpg);
            // }

            // &:nth-child(2n){
            //     background-image: url(../images/Rectangle7.jpg);
            // }

            .card-title{
                font-size: 1.5em;
                color: $white;
                line-height: 1;
                margin: 0;
                margin-bottom: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            &:hover{
                border: 4px solid $accent;
                box-shadow: 0 12px 20px 0 rgba(0,0,0,0.15);
            }
        }
        h2{
            text-shadow: 0 3px 5px rgba(0,0,0,0.2);
        }
    }
}

.overlay{
    background: linear-gradient(180deg, rgba(14,50,50,0.5) 0%, rgba(14,50,50,0) 100%);
    height: 100%;
    width: calc(100% + 9px);
    position: absolute;
    margin-top: -4px;
	margin-left: -4px;
    z-index: 0;
    left: 0;
	top: 0;
	border-radius: 5px;
}

.featured-stories{
    padding: 30px 0 30px;
}

.storycard{

    #all-header{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .column-header{
            margin-right: 60px;
            font-size: 40px;
        }


        .sort-search{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .search{
                position: relative;
                form{
                    position: relative;

                    .search-field{
                        border: 2px solid transparent;
                        border-radius: 5px;
                        box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
                        background-color: $white;
                        color: $base-dark;
                        font-size: 14px;
                        margin: 0;
                        outline: none;
                        padding-left: 20px;
                        padding-right: 45px;
                        transition: border 0.3s ease;
                        height: 45px;
                        width: 300px;

                        &:hover{
                            border: 2px solid rgba(194,79,60,0.6);
                        }
                        &:focus-within{
                            border: 2px solid rgba(194,79,60,0.6);
                        }
                        &::placeholder {
                            color: rgba($base-dark, .75);
                            font-size: 14px;
                        }
                    }
                    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #253449;
                        opacity: 1; /* Firefox */
                        font-style: italic;

                    }

                    :-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #253449;
                        font-style: italic;
                    }

                    ::-ms-input-placeholder { /* Microsoft Edge */
                        color: #253449;
                        font-style: italic;
                    }

                    .search-icon-2{
                        background: none;
                        height: 45px;
                        width: 45px;
                    }
                }
            }

            .sort-stories{
                position: relative;
                margin-right: 40px;

                .sort-stories-text{
                    font-size: 14px;
                    color: $base-dark;
                }

                ul {
                    background: $base-dark;
                    box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                    color: $white;
                    border-radius: 5px;
                    width: max-content;
                    text-align: center;
                    display: none;
                    list-style: none;
                    margin: 10px auto 0;
                    padding: 10px 15px;
                    position: absolute;
                    left: -15px;
                    z-index: 1;
                    li {
                        cursor: pointer;
                        font-size: 12px;
                        line-height: 15px;
                        padding: 5px 3px;
                    }
                    li:hover {
                        color: $sub-base;
                    }

                    ul#submenu {
                        margin-bottom: 20px;
                    }

                }

                #submenu.show{
                    display: block;
                }

                span {
                    cursor: pointer;
                    img {
                        transition: 400ms;
                        transform: rotate(90deg);
                        margin-bottom: -1px;
                        margin-left: 5px;
                    }
                    img.show {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }
}

.pagiwrap{
    margin: 35px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .sort-pages{
        position: relative;
        padding-right: 20px;
        p{
            margin: 0;
            margin-right: 20px;
            float: left;
            line-height: 50px;
            color: #253449;
            font-size: 14px;
            cursor: pointer;
            img {
                transition: 400ms;
                transform: rotate(90deg);
            }
            img.show {
                transform: rotate(-90deg);
            }

            .sort-arrow {
                margin-left: 5px;
                position: relative;
            }
        }
        ul {
            background: $base-dark;
            box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
            color: $white;
            border-radius: 5px;
            display: none;
            list-style: none;
            margin: 40px 0 0;
            padding: 10px;
            position: absolute;
            left: 0;
            width: max-content;
            z-index: 1;
            min-width: 100px;
            li {
                cursor: pointer;
                font-size: 12px;
                line-height: 15px;
                padding: 5px 3px;
                transition: color 0.3s ease;
                margin: 0px 5px;
            }
            li:hover {
                color: $accent;
            }

            ul#submenu {
                margin-bottom: 20px;
            }

        }

        #submenu.show{
            display: block;
        }
    }
}



@media screen and (max-width: 712px){
    .storycard{

        #all-header{
            margin-bottom: 100px;

            .header-search{
                .column-header{
                    float: none;
                }
            }
        }

        .cardheader-wrap{

            .header-search{

                .search{
                    float: none;

                    .search-field{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-max-width){

    .sort-stories{
        ul#submenu{
            left: 0;
        }
    }
}
