.tab-wrap {
    margin: 0 auto;
    max-width: 1000px;
    padding: 100px 8% 0;
    position: relative;
    .arrow-wrap {
        overflow-y: hidden;
        overflow-x: scroll;
        position: relative;
        &::-webkit-scrollbar {
            display: none;
        }
        .tabs {
            border-bottom: 2px solid rgba(13,18,48,0.01);
            list-style: none;
            margin: 0;
            padding: 0;
            white-space: nowrap;
            z-index: 0;
            .tab {
                border-bottom: 2px solid rgba(13,18,48,0.05);
                color: rgba(13,18,48,0.3);
                display: inline-block;
                font-family: montserratmedium;
                font-size: 1em;
                margin-bottom: -2px;
                padding: 10px;
                z-index: 1;
                &:hover {
                    cursor: pointer;
                }
            }
            .active {
                border-bottom: 2px solid #27AD88;
                color: #27AD88;
            }
        }
    }
    .arrow {
        height: 9%;
        padding: 40px 10px 10px 10px;
        position: absolute;
        bottom: -11px;
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
    }
    .right {
        background: linear-gradient(0deg, #FFFFFF 30%, rgba(255,255,255,0.3) 100%);
        right: 8%;
        transform: rotate(-90deg);
    }
    .left {
        background: linear-gradient(0deg, #FFFFFF 30%, rgba(255,255,255,0.3) 100%);
        left: 8%;
        transform: rotate(90deg);
    }
    .hidden {
        display: none;
    }
}