html {
  color: $text-color;
}

h1, h2, h3, h4, h5, p, a, span, li, label, dinput{
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: ebgaramond;
  font-weight: bold;
}

h4,h5,p,a,span,li,label,input {
  font-family: aleoregular;
  font-weight: 300;
}

.paragraph {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;

  a {
    @extend .text-link;
  }
}

.section-title {
  font-size: 45px;
  margin-bottom: 10px;
}

.text-link {
  border-bottom: 2px solid $sub-base;
  color: $text-color-light;
  font-style: italic;
  padding-bottom: 2px;
  text-decoration: none;
  transition: .1s;
  white-space: nowrap;

  &:hover {
    padding-bottom: 4px;
    border-bottom: 3px solid $sub-base;
  }
}