.visualize{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  width: 90%;
  flex-wrap: wrap;
    li{
      text-align: center;
      border-radius: 5px;
      background-color: $white;
      box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
      height: 178px;
      min-width: 245px;
      width: 31%;
      display: inline-block;
      margin-bottom: 80px;
      margin-top: 50px;
      cursor: pointer;
      border: 2px solid transparent;
      transition: all 0.3s ease;
      img{
      }
      .charts{
        margin-top: 49px;
        height: 30px;
        width: 56px;
        margin-bottom: 18px;
      }
      .maps{
        margin-top: 45px;
        width: 34px;
        height: 35px;
        margin-bottom: 17px;
      }
      .timeline{
        margin-top: 33px;
        margin-bottom: 8px;
        width: 58px;
        height: 58px;
      }
      p{
        font-family: "EB Garamond";
        font-size: 26px;
        font-weight: bold;
        text-shadow: 0 3px 24px 0 rgba(37,52,73,0.21);
      }
      &:hover {
              border: 2px solid $accent;
              box-sizing: border-box;
              box-shadow: 0 15px 25px 0 rgba(18,46,70,0.1);
      }
    }
}
@media screen and (max-width: 896px) {
  .visualize{
    margin-bottom: 55px;
    li{
      width: 48%;
      margin-top: 28px;
      margin-bottom: 0px;
    }
  }
}
@media screen and (max-width: 593px) {
  .visualize{
    li{
      margin-top: 25px;
      width: 100%;
    }
  }
}
