.media-record {
    margin: 0;
    max-width: unset;
    padding: 0;
    figure {
        background: $base-dark;
        height: 595px;
        margin: 0;
        padding-top: 55px;
        position: relative;
        .fig-wrap {
            height: 500px;
            position: relative;
            .arrow-left,
            .arrow-right {
                background: url(../images/chevron-down.svg) no-repeat;
                background-color: $base-dark;
                background-position: 16px;
                border: none;
                border-radius: 50%;
                box-shadow: 0 10px 40px 0 rgba(13, 18, 48, 0.4);
                height: 45px;
                margin-top: 225px;
                opacity: 0;
                position: absolute;
                transition: 400ms;
                width: 45px;
                &:hover {
                    background-color: $sub-base;
                    cursor: pointer;
                }
                &:focus {
                    outline: none;
                }
            }
            .arrow-right {
                margin-right: 40px;
                right: 0;
                transform: rotate(-90deg);
            }
            .arrow-left {
                margin-left: 40px;
                transform: rotate(90deg);
            }
            .carousel-display {
                box-shadow: 0 15px 45px 0 rgba(0, 0, 0, 0.5);
                display: block;
                height: 100%;
                margin: 0 auto;
                max-height: 100%;
                width: auto;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .carousel-controls {
            height: 100px;
            margin: 0 20px;
            position: relative;
            img {
                cursor: pointer;
                display: inline-block;
                margin-top: 55px;
                transition: 200ms;
                &:hover {
                  opacity: 0.5;
                }
            }
            .download {
                margin-left: 20px;
            }
            .maximize {
                float: right;
            }
        }
    }
    .thumbnail-slider {
        display: flex;
        justify-content: center;
        margin: 50px auto -80px;
        padding-bottom: 80px;
        position: relative;
        white-space: nowrap;
        .arrow-left,
        .arrow-right {
            background: url(../images/chevron-down.svg) no-repeat;
            background-color: $base-dark;
            background-position: 16px;
            border: none;
            border-radius: 50%;
            height: 45px;
            margin: 19px 0;
            position: absolute;
            transition: 400ms;
            width: 45px;
            z-index: 1;
            &:hover {
                background-color: $sub-base;
                cursor: pointer;
            }
            &:focus {
                outline: none;
            }
        }
        .arrow-left {
            box-shadow: 10px 0 40px 0 rgba(13,18,48,0.4);
            left: 0;
            margin-left: 24px;
            transform: rotate(90deg);
        }
        .arrow-right {
            box-shadow: -10px 0 40px 0 rgba(13,18,48,0.4);
            margin-right: 24px;
            right: 0;
            transform: rotate(-90deg);
        }
        .hidden {
            opacity: 0.3;
            &:hover {
                background-color: $base-dark;
                cursor: not-allowed;
            }
        }
        .slider-wrap {
            margin: 0 auto;
            overflow: hidden;
            .slider {
                list-style: none;
                margin: 0 0 0 90px;
                /*max-width: 1000px;*/
                overflow-x: scroll;
                overflow-y: hidden;
                scroll-behavior: smooth;
                padding: 0 90px 0 0;
                transition: 2s;
                z-index: 0;
                &::-webkit-scrollbar {
                    display: none;
                }
                li {
                    display: inline-block;
                    margin: 0 5px;
                    position: relative;
                    .overlay-border {
                        background: rgba(255, 255, 255, 0.5);
                        box-sizing: border-box;
                        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
                        height: 100%;
                        position: absolute;
                        transition: 200ms;
                        width: 100%;
                    }
                    .thumbnail-img {
                        height: 80px;
                        max-height: 100%;
                        width: auto;
                    }
                    &:hover {
                        cursor: pointer;
                        .overlay-border {
                            background: rgba(175, 175, 175, 0);
                            border: 3px solid $sub-base;
                            box-shadow: 0 10px 40px 0 rgba(13,18,48,0.25);
                        }
                    }
                }
                .selected {
                    .overlay-border {
                        background: rgba(175, 175, 175, 0);
                        box-shadow: 0 10px 40px 0 rgba(13,18,48,0.25);
                        border: 3px solid $sub-base;
                    }
                }
            }  
        }
    }
    .custom-scrollbar {
        background-color: #fff;
        margin: 40px 20px -20px;
        padding: 0 8%;
        z-index: 1;
        .bar {
            background: rgba(13, 18, 48, 0.1);
            height: 2px;
            margin: 0 auto;
            max-width: 1000px;
            position: relative;
            .scroll {
                background: $sub-base;
                border-radius: 50%;
                cursor: default;
                height: 1.2em;
                position: absolute;
                top: -8px;
                width: 1.2em;
                z-index: 2;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    article {
        max-width: 1000px;
        margin: 0 auto;
        overflow: hidden;
        padding: 100px 8%;
        .description {
            margin-bottom: 80px;
        }
        .metadata {
            div {
                border-bottom: 2px solid rgba(13,18,48,0.05); 
                margin-bottom: 15px;
                padding-bottom: 20px;
                position: relative;
                span {
                    line-height: 1.5;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 150px;
                }
                p {
                    display: inline-block;
                    line-height: 1.5;
                    margin: 0;
                    max-width: 79%;
                    padding-left: 230px;
                    a {
                        display: block;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 540px) { // 600
    .media-record {
        figure .fig-wrap {
            .arrow-left,
            .arrow-right {
                z-index: 1;
            }
            .arrow-right {
                right: -30px;
            }
            .arrow-left {
                left: -30px;
            }
            .carousel-display {
                bottom: 0;
                height: auto;
                max-width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                z-index: 0;
            }
        }
        article {
            .metadata {
                div {
                    span {
                        position: relative;
                        width: unset;
                    }
                    p {
                        display: block;
                        max-width: 100%;
                        padding: 0;
                    }
                }
            }
        }
    }
}
