.essays{
    background-color: $base-light;
    padding: 65px 0 0 0;
    
    .aboutwrap{
        
        p{
            color: $base-dark;
        }
    }
}

.essaycard{
    padding: 100px 0 0 0;
    
    .cardwrap{
        
        .row{
            
            li{
                
                .cards{
                    
                    .card-title{
                        display: -webkit-box;
                        font-size: 1.375em; // 1em = 16px want 22px -- 1.375em = 22px
                        /*height: 75px;*/
                        height: unset;
                        line-height: 1;
                        max-height: 3.6em; // = line-height (1.2em here) * line-clamp
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                    }
                    
                    p{
                        display: -webkit-box;
                        font-size: .875em; // 14px
                        line-height: 1.2em;
                        max-height: 9.6em; // = line-height (1em defualt) * line-clamp
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 8;
                    }
                }
            }
        }
    }
}

.essaymultiplerowcards{
    
    .cardwrap{
        
        .row{
            
            li{
                
                .cards{
                    
                    .card-title{
                        display: -webkit-box;
                        font-size: 1.375em;
                        /*height: 75px;*/
                        height: unset;
                        line-height: 1.2em;
                        max-height: 3.6em; // = line-height (1.2em here) * line-clamp
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 3;
                    }
                    
                    p{
                        display: -webkit-box;
                        font-size: .875em; // 14px
                        line-height: 1.2em;
                        max-height: 9.6em; // = line-height (1em defualt) * line-clamp
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 8;
                    }
                }
            }
        }
    }
}