
.about-header{
  .header-background {
      left: 0;
      object-fit: cover;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &.home-page{
        height: 330px;
      }

      &.search-page {
        height: 230px;
    }

      &.full-height {
          height: 100%;
      }
  }

    .middlewrap{
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
        padding-top: 160px;
        padding-bottom: 50px;
        .previous-title{
          opacity: 0.7;
          color: $white;
          font-family: aleobold;
          font-size: 16px;
          font-weight: none;
          line-height: 18px;
          text-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
        }
        #current-title{
          color: $white;
          font-family: aleobold;
          font-size: 16px;
          font-weight: none;
          line-height: 18px;
        }
    }
}

.about-text{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;

    #mid-paragraph{
        margin-bottom: 50px;
    }
    .textwrap{
        padding: 14px;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0 3px 10px 0 rgba(44,44,44,0.1);
        margin-bottom: 50px;
        ul, ol{
            padding-inline-start: 30px;
            li{
                padding-bottom: 15px;

                &:nth-child(5n){
                    padding-bottom: 0px;
                }
            }
        }
        ol li{
            padding-left: 10px;
        }
    }
}

.info{
    height: auto;
    padding: 60px 0 20px; //add side padding at certain width
    width: 100%;

    .infowrap{
        margin: 0 auto;
        max-width: 1000px;
        width: 90%;
        
        h1 {
		margin-bottom: 10px;
		}

        p{
            color: $base-dark;
            position: relative;
            text-align: left;
        }
    }
}