// Raw Colors
$black: #000;
$white: #fff;

// Frequently Used Colors
$base-dark: #0E3232;
$base-dark-hover: #124040;
$base-light: #FAF7F2;
$base-shadow: $black;
$base-white: $white;
$sub-base: #C24F3C; // Remove all uses of sub-base and use accent instead
$accent: #C24F3C;

// Text Colors
$text-color: $base-dark;
$text-color-light: $white;

//responsive width variables for different pages

//header responsive width
$mobile-max-width:          1100px;
$mobile-card-breakpoint:    1050px;
$mobile-card-breakpoint-2:  650px;
$mobile-width-header:       768px;
$mobile-width-400:          400px;

$mobile-button-breakpoint:  768px;
$mobile-button-breakpoint-2:450px;

// Site Variables
$max-width-content: 1000px;
$column-spacing: 20px;

// Universally Accepted Media Query Breakpoints
$max-width-desktop: 1200px;
$max-width-tablet: 900px;
$max-width-mobile: 600px;
