#footer{
    background-color: $base-dark;

    .footerwrap{
        max-width: 1120px;
        padding: 40px;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        a {
          display: flex;
          justify-content: space-around;
          padding: 40px 20px;
        }

        img {
          width: 100%;
        }

        .top-button{
            height: 60px;
            width: 330px;
            border: 1px solid rgba(255,253,251,0.35);
            border-radius: 100px;
            background-color: #122E46;
            box-shadow: 0 4px 16px 0 rgba(0,0,0,0.05);
            cursor: pointer;
            color: #FFFFFF;
            font-family: aleoregular;
            font-size: 14px;
            position: relative;
            overflow: hidden;

            &:focus{
                outline: none;
            }
        }
        //FIX to flip background arrow without flipping text
        .top-button:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: url(../images/Arrow.svg);
            background-repeat: no-repeat;
            background-position: 90% 50%;
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
        }
    }
    .top {
      display: flex;
      justify-content: center;
    }
    .bottom {
      align-items: flex-end;
	    padding: 10px;
	    color: #FFF;
	    text-align: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-align: left;
      margin-bottom: 30px;

      .first {
        display: flex;
        gap: 100px;
        margin-bottom: 5px;

        h6 {
          opacity: 0.5;
          font-family: aleobold;
          font-size: 14px;
          font-weight: normal;
          color: $white;
          letter-spacing: 2.75px;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        .contact {
          a {
            color: $white;
            text-decoration: none;
            padding: 0;
            transition: all .2s ease;

            &:hover {
              color: $accent;
            }
          }
        }

        .follow {
          .social-icons {
            display: flex;
            gap: 15px;

            a {
              padding: 0;
              opacity: .8;
              transition: all .2s ease;

              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }

      .footer-buttons {
        display: flex;
        gap: 20px;

        a {
          border-radius: 5px;
          color: #fff;
          height: 55px;
          padding: 19px;
          text-decoration: none;
          transition: all .2s ease;
        }

        .statement-of-ethics {
          background-color: rgba(255,255,255,.10);

          &:hover {
            background-color: rgba(255,255,255,.15);
          }
        }

        .support {
          background-color: $accent;

          &:hover {
            background-color: #CF5440;
          }
        }
      }
    }
}

@media screen and (max-width: 900px){
    #footer{
        .footerwrap .top{
            flex-wrap: wrap;
            margin-bottom: 30px;

            a {
              padding: 20px;
            }
        }
        .footerwrap .bottom {
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;
          }
    }
}

@media screen and (max-width: 600px){
  #footer{
    .footerwrap .bottom {
      .first {
        flex-wrap: wrap;
        gap: 10px;

        div {
          width: 100%;
          justify-content: center;
          text-align: center;
        }
      }
      .footer-buttons {
        flex-wrap: wrap;

        a {
          width: 100%;
        }
      }
    }
  }
}
