
.media-records {
    padding: 25px 8% 100px;
    .column {
        padding: 0;
        .cardwrap .row li {
        border: 2px solid rgba(13,18,48,0.05);
        box-shadow: 0 2px 3px 0 rgba(30,30,30,0.05);
        box-sizing: border-box;
        transition: 400ms;

        &:hover {
            border: 2px solid $sub-base;
            box-shadow: 0 12px 13px 0 rgba(30,30,30,0.05);
        }
            a {
                img {
                    height: 160px;
                    max-width: 100%;
                    object-fit: cover;
                    width: 100%;
                }
                @-moz-document url-prefix() { 
                    img {
                        max-height: 160px;
                    }
                    .cards .card-title {
                        height: 55px!important;
                    }
                }
                .cards {
                    .card-title {
                        font-size: 22px;
                        height: unset;
                        margin-bottom: 22px
                    }
                    border: none;
                    box-shadow: none;
                    height: unset;
                    padding: 20px;
                    p {
                        font-size: 12px;
                        margin-bottom: 12px;
                    }

                    :last-child {
                        margin: 0;
                    }
                    &:hover {
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
