.projectcard{

    .card-wrap{

        .card-row{
            width: 100%;
            li.card{
                position: relative;

                .connectionswrap{
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    padding-bottom: 5px;
    
                    .connections{
                        min-height: 40px;
                        max-width: 100%;
                        padding: 0 10px;
                        display: flex;
                        justify-content: space-between;
    
                        .card-icons{
                            position: relative;
                            display: flex;
                            align-items: center;
                            font-size: 12px;
                            padding: 0 10px;
    
                            &:hover{
                                .connection-menu{
                                    display: block;
                                }
                            }
    
                            img{
                                margin-right: 10px;
                                height: 22px;
                                opacity: .8;
                            }
                            span{
                                font-size: 14px;
                                color: $base-dark;
                                opacity: .8;
                            }
                            .connection-menu{
                                display: none;
                                background: $base-dark;
                                box-shadow: 0 25px 35px 0 rgba(13,18,48,0.15);
                                color: $base-light;
                                font-size: 12px;
                                white-space: nowrap;
                                position: absolute;
                                padding: 20px;
                                bottom: 40px;
                                right: -90px;
                                width: 220px;
                                z-index: 10;
    
                                &.hovered{
                                    display: block;
                                }
    
                                h1{
                                    font-size: 18px;
                                    margin-bottom: 10px;
                                }
                                ul{
                                    padding: 0;
                                    li{
                                        width: unset;
                                        display: list-item;
                                        margin: 0;
                                        padding: 0;
                                        border: none;
                                        box-shadow: none;
                                        list-style-type: none;
                                        cursor: pointer;
                                        font-size: 13px;
                                        transition: .2s;
                                        line-height: 16px;
                                        padding: 5px 0;
                                        word-wrap: break-word;
                                        white-space: normal;
    
                                        #arrow{
                                            color: $base-light;
                                            background-image: url(../images/Arrow.svg);
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            width: 10px;
                                            height: 6px;
                                            transform: rotate(-90deg);
                                            float: right;
                                            margin: 5px 0 0 10px;
                                            transition: color .2s;
                                        }
    
                                        &:hover{
                                            color: $sub-base;
                                            #arrow{
                                                background-image: url(../images/Arrow_colored.svg);
                                            }
                                        }
    
                                        span{
                                            opacity: .6;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 435px){
    .projectcard{
        .cardwrap{
            .row{
                li{
                    .cards{
                        .connections{
                            bottom: 55px;
                            right: 20px;
                            left: unset;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px){
    .projectcard{
        .cardheader-wrap{
            .header-search{
                .project-search{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 900px){
    .projectcard{
        .cardwrap{
            .row{
                li{
                    width: 100%;
                    margin-right: 0!important;
                    margin-left: 0!important;
                }
            }
        }
    }
}
