.header{

        .search-title{
            margin: 0 0 20px;
            clear: both;
            overflow: hidden;
            transition: .2s;
            h1{
                float: left;
                font-size: 65px;
            }
            a{
                text-decoration: none;
                color: $base-light;
            }
            h2{
                float: right;
                font-size: 18px;
                line-height: 56px;
                transition: .2s;
                .arrow{
                    background-image: url(../images/Arrow.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 13px;
                    height: 13px;
                    transform: rotate(-90deg);
                    float: right;
                    margin: 20px 0 0 10px;
                    // margin: 0 0 2px 10px;
                    transition: .2s;
                }
                &:hover{
                    color: $sub-base;
                    .arrow{
                        background-image: url(../images/Arrow_colored.svg);
                    }
                }
            }
        }
        .advanced-title{
            margin: 0;
        }
        .heading-search{
            h3{
                font-size: 26px;
            }
        }
        .last-page-header{

            #last-page {
                color: #FFF;
                font-size: 17px;
                text-decoration: none;
                span#previous-title{
                    color: rgba(255, 255, 255,.7);
                    transition: color .3s;

                    &:hover{
                        color: #FFF;
                    }
                }
            }
            span#current-title{
                color: #FFF;
                font-size: 17px;
                padding-bottom: 5px;
            }
        }

}

.search-message{
    width: 90%;
    max-width: 1000px;
    margin: 200px auto;

    p{
       font-size: 16px;
       font-family: aleobold;
       color: $base-dark;
       line-height: 1.7;
       text-align: center;

        a{
            color: $accent;
        }
    }
}

.direct-search{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    .searchwrap{
        margin: 55px 0 80px 0;
        h2{
            font-size: 40px;
            color: $base-dark;
            margin-bottom: 30px;
        }
        form{

            .search-section{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 50px;
                // align-items: flex-start;

                .inputwrap{
                    width: 47.5%;
                    margin-bottom: 4%;
                    position: relative;

                    input, label{
                        display: block;
                        color: #0E3232;
                        font-size: 14px;
                        padding-right: 35px;
                    }
                    label{
                        margin-bottom: 10px;
                        color: $base-dark;
                        font-size: 15px;
                    }
                    .input-field{
                        height: 60px;
                        width: 100%;
                        border: 2px white solid;
                        border-radius: 5px;
                        outline: none;
                        background-color: #FFF;
                        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
                        padding-left: 20px;
                        font-size: 14px;
                        font-family: aleobold;
                        color: $base-dark;
                        transition: all 0.3s;

                        &:hover{
                            border: 2px solid $sub-base;
                        }
                        &:focus-within{
                            border: 2px solid $sub-base;
                        }
                    }
                    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #0E3232;
                        opacity: .8; /* Firefox */
                        font-family: aleobolditalic;
                    }

                    :-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #0E3232;
                        opacity: .8;
                        font-family: aleobolditalic;
                    }

                    ::-ms-input-placeholder { /* Microsoft Edge */
                        color: #0E3232;
                        opacity: .8;
                        font-family: aleobolditalic;
                    }

                    .autocomplete-items {
                        position: absolute;
                        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
                        background-color: #fff;
                        border-radius: 5px;
                        z-index: 99;
                        padding: 15px 0;
                        /*position the autocomplete items to be the same width as the container:*/
                        top: 100%;
                        left: 0;
                        right: 0;

                        div {
                            padding: 8px;
                            padding-left: 20px;
                            font-size: 14px;
                            cursor: pointer;
                            background-color: #fff;
                            font-family: aleobold;
                            color: $base-dark;

                            &:hover {
                                /*when hovering an item:*/
                                //background-color: #e9e9e9;
                                color: $accent !important;
                            }

                        }
                    }
                    .autocomplete-active {
                        /*when navigating through the items using the arrow keys:*/
                        //background-color: $accent !important;
                        color: $accent !important;
                    }

                    //select2
                    .select2-container{
                        width: 100%!important;

                        //s2 single
                        .select2-selection--single{
                            height: 60px;
                            border-radius: 0;
                            border: 2px solid #FFF;
                            border-radius:  5px;
                            outline: none;
                            background-color: #FFF;
                            box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
                            transition: all 0.3s;
                            &:hover{
                                border: 2px solid $sub-base;
                            }
                            .select2-selection__rendered{
                                line-height: 58px;
                                color: $base-dark;
                                font-size: 14px;
                                padding-left: 20px;
                                padding-right: 35px;

                                .select2-selection__placeholder{
                                    color: #0E3232;
                                    opacity: .8;
                                    font-family: aleobolditalic;
                                }
                            }
                        }
                        //s2 multiple
                        .select2-selection--multiple{
                            min-height: 60px;
                            border-radius: 0;
                            border: 2px solid #FFF;
                            border-radius:  5px;
                            outline: none;
                            background-color: #FFF;
                            box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
                            transition: all 0.3s;
                            cursor: text;

                            &:hover, &:focus-within{
                                border: 2px solid $sub-base;
                            }
                            .select2-selection__rendered{
                                display: inherit;
                                padding-left: 10px;
                                padding-right: 35px;

                                .select2-selection__choice{
                                    margin: 8px 10px 0 0;
                                    padding: 0 10px;
                                    height: 40px;
                                    line-height: 36px;
                                    font-size: 14px;
                                    border-radius: 5px;
                                    background-color: rgba(14,50,50,.05);
                                    border: 2px solid rgba(14,50,50,.1);
                                    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.05);
                                    color: $base-dark;

                                    .select2-selection__choice__remove{
                                        float: right;
                                        margin-left: 10px;
                                        margin-right: 0;
                                        font-weight: 300;
                                        font-size: 20px;
                                    }
                                }

                                .select2-search--inline{
                                    margin: 18px 0;
                                    width: 0;
                                    .select2-search__field{
                                        margin-top: 0;
                                        margin-left: 10px;
                                        font-size: 14px;
                                        line-height: 22px;
                                        color: $base-dark;
                                    }
                                }
                            }
                        }
                        .select2-selection__arrow{
                            background-image: url(../images/Arrow3.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            height: 13px;
                            width: 8px;
                            top: 24px;
                            right: 25px;
                            transform: rotate(90deg);
                            position: absolute;
                        }
                    }
                    .select2-container--open{
                        .select2-selection--single{
                            border: 2px solid $sub-base;
                        }
                        .select2-selection--multiple{
                            border: 2px solid $sub-base;
                        }
                    }
                }
                .datewrap{
                    .select2-container{
                        width: 49%!important;
                    }
                }

                .agewrap{
                    .input-field {
                        width: 49%!important;
                        display: inline-block;
                    }
                }
            }
            .buttonwrap{
                width: 100%;
                text-align: right;
                button{
                    cursor: pointer;
                    height: 60px;
                    min-width: 160px;
                    padding: 0 20px;
                    border: none;
                    border-radius: 5px;
                    color: #FFF;
                    font-size: 20px;
                    outline: none;
                    font-family: aleobold;
                    box-shadow: 0 5px 15px 0 rgba(115,47,35,0.2);
                    background: $accent;
                    transition: all 0.3s;
                    transition: .2s;

                    &:hover{
                        background: #CF5440;
                    }
                }
            }
        }
    }
}

// Search bars on data page--

.data-search {
  margin: 30px 0 50px;

  form {
    align-items: center;
    display: flex;
    width: 100%;

    .input-field{
          height: 50px;
          border: 2px white solid;
          border-radius: 5px;
          outline: none;
          background-color: #FFF;
          box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);
          padding-left: 20px;
          font-size: 14px;
          font-family: aleobold;
          color: $base-dark;
          transition: all 0.3s;

          &:hover{
              border: 2px solid $sub-base;
          }
          &:focus-within{
              border: 2px solid $sub-base;
          }
      }

      .data-search {
        width: 48%;
        margin: 0;
      }

      .start-year {
        width: 15%;
        margin-left: 30px;
        margin-right: 10px;
      }

      p {
        font-size: 15px;
      }

      .end-year {
        width: 15%;
        margin-left: 10px;
        margin-right: 30px;
      }

      button {
        cursor: pointer;
        height: 50px;
        min-width: 120px;
        padding: 0 20px;
        border: none;
        border-radius: 5px;
        color: #FFF;
        font-size: 15px;
        outline: none;
        font-family: aleobold;
        box-shadow: 0 5px 15px 0 rgba(115,47,35,0.2);
        background: $base-dark;
        transition: all 0.3s ease;

        &:hover {
          background: $base-dark-hover;
        }
      }

      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #0E3232;
          opacity: .8; /* Firefox */
          font-family: aleobolditalic;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #0E3232;
          opacity: .8;
          font-family: aleobolditalic;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
          color: #0E3232;
          opacity: .8;
          font-family: aleobolditalic;
      }


  }
}


@media screen and (max-width: 900px){
  .data-search{
          form{
            flex-wrap: wrap;
            gap: 20px;

              .data-search{
                width: 100%;
              }

              .start-year {
                width: 35%;
                margin-left: 0;
                margin-right: 0;
              }

              .end-year {
                width: 35%;
                margin-left: 0;
                margin-right: 0;
              }

              button {
                width: calc(30% - 76px);
                min-width: initial;
              }
          }
      }
}

@media screen and (max-width: 600px){
  .data-search{
          form{

              .start-year {
                width: calc(50% - 28px);
              }

              .end-year {
                width: calc(50% - 28px);
              }

              button {
                width: 100%;
              }
          }
      }
}

//safari hack to align the placeholder text of multiselect boxes
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none){
        .direct-search{
            .searchwrap{
                form{
                    .search-section{
                        .inputwrap{
                            .select2-container{
                                .select2-selection--multiple{
                                    .select2-selection__rendered{
                                        .select2-search--inline{
                                            .select2-search__field{
                                                margin-left: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


//select2 dropdown
.select2-container--open{
    .select2-dropdown{
        border: 2px solid #FFF;
        border-radius: 5px;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1);

        .select2-search--dropdown{
            height: 0;
            padding: 0;
            -webkit-appearance: none;
            .select2-search__field{
                outline: none;
                border: none;
                padding: 0;
                color: transparent;
                height: 0;
                -webkit-appearance: none;
            }
        }

        .select2-results{
            .select2-results__options{
                padding: 15px 0;
                .select2-results__option{
                    font-size: 14px;
                    color: $base-dark;
                    padding: 8px;
                    padding-left: 20px;

                    .select2-results__group{
                        display: none;
                    }
                }
                .select2-results__option--highlighted[aria-selected]{
                    background-color: #ffffff;
                    color: $sub-base;
                }
                .select2-results__option[aria-selected=true]{
                    background-color: #ffffff;
                    color: $sub-base;
                }
                .select2-results__option[role=group]{
                    padding-top: 0;
                    padding-bottom: 0;

                    .select2-results__option[role=treeitem]{
                        font-size: 14px;
                        padding: 4px;
                        padding-left: 0;
                    }

                    .select2-results__options--nested{
                        padding: 0;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        border-bottom: 2px solid rgba(18,46,70,0.07);
                    }

                    &:first-child{
                        .select2-results__options--nested{
                            padding-top: 0;
                        }
                    }
                    &:last-child{
                        .select2-results__options--nested{
                            border-bottom: none;
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
        // .select2-search{
        //     display: none;
        // }
    }
}

@media screen and (max-width: 600px){
    .direct-search{
        .searchwrap{
            form{
                .search-section{
                    .inputwrap{
                        width: 100%;
                        margin-bottom: 6%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 470px){
    .header{
        .middlewrap{
            .search-title{
                h1{
                    margin-right: 50px;
                }
                h3{
                    float: left;
                }
            }
        }
    }
    .direct-search{
        .searchwrap{
            margin: 40px 0;
            form{
                .search-section{
                    margin-bottom: 15px;
                }
            }
        }
    }
}
@media screen and (max-width: 350px){
    .direct-search{
        .searchwrap{
            form{
                .buttonwrap{
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.search-icon-2 {
    background: $accent;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    outline: none;
    transition: .2s ease-in-out;

    &:hover{
        background: $accent;
    }

    // img {
    //     position: absolute;
    //     top: 37%;
    //     left: 35%;
    // }
}
