html {
  color: $text-color;
}

h1, h2, h3, h4, h5, p, a, span, li, label, dinput{
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: ebgaramond;
}

h4,h5,a,span,li,label,input {
  font-family: aleobold;
  font-weight: 300;
}

a {
	color: $sub-base;
	font-family: aleobold;
}

p, ol, ul, li {
	font-family: aleoregular;
	font-size: 18px;
	line-height: 1.5;

}

hr {
  margin: 70px 0;
  border-color: $base-dark;
  border-top-width: 2px;
  opacity: 0.1;
}

strong {
  font-weight: normal;
  font-family: aleobold;
}

.background-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}


.italic {
  font-style: italic;
}

.section-title {
  font-size: 45px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.text-link {
  border-bottom: 2px solid $sub-base;
  color: inherit;
  font-style: italic;
  padding-bottom: 2px;
  text-decoration: none;
  transition: .1s;

  &.dark {
    color: $text-color;
  }

  &.light {
    color: $text-color-light;
  }

  &:hover {
    padding-bottom: 4px;
    border-bottom: 3px solid $sub-base;
  }
}
