/build_local/
/build_local2/
/build_production/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log

# User defined ignores
config.php
/source/config.php
/source/.htaccess
/source/database-config.php
/source/config.json

# Built data ignores
/source/cache/navContents.json
/source/cache/webPages.json

# visualizeCounts
/source/visualizeCounts/latest.wikibase.dump.json

# Directories
/.idea
/source/.sass-cache
/assets/Widoco

# Editor files
*.sublime-workspace
*.sublime-project

# composer
composer.phar
/vendor/
/source/composer.phar
/source/vendor/

# os specific
._.DS_Store
.DS_Store

# project specific
cache/*
!cache/.gitkeep
