
img:hover{
  cursor:pointer;
}
.image-modal figure {
  background: #0D1230;
  height: 595px;
  margin: 0;
  padding-top: 55px;
  position: relative;
}
.image-modal figure .fig-wrap {
  height: 500px;
  position: relative;
}

#modal-dim-background-img {
    background: #000;
    display: none;
    height: 100%;
    opacity: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

a.modal {
  cursor: pointer;
  color: #000;
}

.modal-view-image {
  background: rgba(51, 51, 51, 0);
  color: #FFFFFF;
  display: none;
  height: 0%;
  transition: 400ms;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1001;
}
.modal-view-image .modal-wrap {
  height: 80%;
  margin: -100% auto 0;
  position: relative;
  transition: 400ms;
  width: 95%;
}
.modal-view-image .modal-wrap .arrow-left,
.modal-view-image .modal-wrap .arrow-right {
  background: url(../images/chevron-down.svg) no-repeat;
  background-color: #0D1230;
  background-position: 16px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 10px 40px 0 rgba(13, 18, 48, 0.4);
  height: 45px;
  margin: 19px 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: 400ms;
  width: 45px;
  z-index: 1;
}
.modal-view-image .modal-wrap .arrow-left:hover,
.modal-view-image .modal-wrap .arrow-right:hover {
  cursor: pointer;
  background-color: #27AD88;
}
.modal-view-image .modal-wrap .arrow-left:focus,
.modal-view-image .modal-wrap .arrow-right:focus {
  outline: none;
}
.modal-view-image .modal-wrap .arrow-left {
  left: 0;
  margin-left: 24px;
  transform: rotate(90deg);
}
.modal-view-image .modal-wrap .arrow-right {
  margin-right: 24px;
  right: 0;
  transform: rotate(-90deg);
}
.modal-view-image .modal-wrap p,
.modal-view-image .modal-wrap div {
  position: relative;
  padding: 15px 0 40px;
  text-align: center;
}
.modal-view-image .modal-wrap p #modal-close,
.modal-view-image .modal-wrap div #modal-close {
  background-color: #27AD88;
  border-radius: 50%;
  float: right;
  height: 50px;
  margin: 5px;
  position: relative;
  width: 50px;
}
.modal-view-image .modal-wrap p #modal-close img,
.modal-view-image .modal-wrap div #modal-close img {
  box-shadow: 0 15px 45px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.modal-view-image .modal-wrap .close {
  position: fixed;
  right: 30px;
  z-index: 1;
}
.modal-view-image .modal-wrap #modal-img {
  height: 100%;
  margin: 10px 0 0;
  width: 100%;
}
.modal-view-image .modal-wrap #modal-img img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  width: auto;
}
.modal-view-image .modal-wrap #modal-img .modal-img-view {
  max-height: unset;
  max-width: unset;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.modal-view-image .modal-wrap #modal-img div {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal-view-image .modal-wrap #modal-img div .plus {
  padding: 15px;
}
.modal-view-image .modal-wrap #modal-img div .minus {
  padding: 22px 15px;
}
.modal-view-image .modal-wrap #modal-img div span {
  background-color: #0D1230;
  border-radius: 50%;
  display: inline-block;
  margin: 40px 10px 0;
  transition: 400ms;
  z-index: 1;
}
.modal-view-image .modal-wrap #modal-img div .plus:hover,
.modal-view-image .modal-wrap #modal-img div .minus:hover {
  background-color: #27AD88;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal-view-image .modal-wrap #modal-img .modal-img-view {
    max-width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .modal-view-image {
    color: #FFFFFF;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    z-index: 1001;
  }
}
